@import partials/reset 
@import partials/sprite
@import partials/fonts
@import partials/mixins
@import partials/const
@import partials/typography
@import partials/buttons
@import partials/forms
@import partials/layout
@import partials/plugins


.margin-bottom-0
  margin-bottom: 0

.margin-bottom-5
  margin-bottom: 5px

.grey-wrap
  background: #fbfbfb 
  background: -moz-linear-gradient(left, #fbfbfb 0%, #e9e9e9 0%, #e8e8e8 0%, #eaeaea 0%, #efefef 9%, #f1f1f1 12%, #f3f3f3 12%, #f3f3f3 14%, #f5f5f5 14%, #f5f5f5 18%, #f7f7f7 18%, #fbfbfb 25%, #fbfbfb 75%, #f9f9f9 75%, #fafafa 77%, #f5f5f5 85%, #f3f3f3 85%, #f5f5f5 86%, #f3f3f3 86%, #e9e9e9 100%)
  background: -webkit-linear-gradient(left, #fbfbfb 0%,#e9e9e9 0%,#e8e8e8 0%,#eaeaea 0%,#efefef 9%,#f1f1f1 12%,#f3f3f3 12%,#f3f3f3 14%,#f5f5f5 14%,#f5f5f5 18%,#f7f7f7 18%,#fbfbfb 25%,#fbfbfb 75%,#f9f9f9 75%,#fafafa 77%,#f5f5f5 85%,#f3f3f3 85%,#f5f5f5 86%,#f3f3f3 86%,#e9e9e9 100%)
  background: linear-gradient(to right, #fbfbfb 0%,#e9e9e9 0%,#e8e8e8 0%,#eaeaea 0%,#efefef 9%,#f1f1f1 12%,#f3f3f3 12%,#f3f3f3 14%,#f5f5f5 14%,#f5f5f5 18%,#f7f7f7 18%,#fbfbfb 25%,#fbfbfb 75%,#f9f9f9 75%,#fafafa 77%,#f5f5f5 85%,#f3f3f3 85%,#f5f5f5 86%,#f3f3f3 86%,#e9e9e9 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#e9e9e9',GradientType=1 )
  
    

.jumbtron
  padding-top: 164px
  padding-bottom: 225px
  background: #fbfbfb url("../images/jumbtrone-bg.png")
  background: url("../images/jumbtrone-bg.png"), -moz-linear-gradient(left, #fbfbfb 0%, #e9e9e9 0%, #e8e8e8 0%, #eaeaea 0%, #efefef 9%, #f1f1f1 12%, #f3f3f3 12%, #f3f3f3 14%, #f5f5f5 14%, #f5f5f5 18%, #f7f7f7 18%, #fbfbfb 25%, #fbfbfb 75%, #f9f9f9 75%, #fafafa 77%, #f5f5f5 85%, #f3f3f3 85%, #f5f5f5 86%, #f3f3f3 86%, #e9e9e9 100%)
  background: url("../images/jumbtrone-bg.png"), -webkit-linear-gradient(left, #fbfbfb 0%,#e9e9e9 0%,#e8e8e8 0%,#eaeaea 0%,#efefef 9%,#f1f1f1 12%,#f3f3f3 12%,#f3f3f3 14%,#f5f5f5 14%,#f5f5f5 18%,#f7f7f7 18%,#fbfbfb 25%,#fbfbfb 75%,#f9f9f9 75%,#fafafa 77%,#f5f5f5 85%,#f3f3f3 85%,#f5f5f5 86%,#f3f3f3 86%,#e9e9e9 100%)
  background: url("../images/jumbtrone-bg.png"), linear-gradient(to right, #fbfbfb 0%,#e9e9e9 0%,#e8e8e8 0%,#eaeaea 0%,#efefef 9%,#f1f1f1 12%,#f3f3f3 12%,#f3f3f3 14%,#f5f5f5 14%,#f5f5f5 18%,#f7f7f7 18%,#fbfbfb 25%,#fbfbfb 75%,#f9f9f9 75%,#fafafa 77%,#f5f5f5 85%,#f3f3f3 85%,#f5f5f5 86%,#f3f3f3 86%,#e9e9e9 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#e9e9e9',GradientType=1 )
  
  background-position: 76.6% 100%
  background-repeat: no-repeat
  +desktop-large
    background-position: 100% 100%
  +tablet
    padding: 60px 0 100px
    background: #f5f2f2
  +mobile
    padding: 20px 0 30px

  .jumbtron-title
    max-width: 880px
    font-size: 62px
    line-height: 1.2
    margin-bottom: 19px
    +desktop-large
      max-width: 680px
    +desktop
      max-width: 580px
      font-size: 54px
    +tablet
      max-width: 100%
    +mobile
      font-size: 30px

  .jumbotron-desctiption
    max-width: 550px
    color: #000000
    font-size: 32px
    line-height: 1.2
    font-family: 'HelveticaNeue-Roman', Arial, sans-serif
    margin-bottom: 33px
    +mobile
      max-width: 100%
      font-size: 22px

#main-carousel
  min-height: 550px
  background: #fbfbfb 
  background: -moz-linear-gradient(left, #fbfbfb 0%, #e9e9e9 0%, #e8e8e8 0%, #eaeaea 0%, #efefef 9%, #f1f1f1 12%, #f3f3f3 12%, #f3f3f3 14%, #f5f5f5 14%, #f5f5f5 18%, #f7f7f7 18%, #fbfbfb 25%, #fbfbfb 75%, #f9f9f9 75%, #fafafa 77%, #f5f5f5 85%, #f3f3f3 85%, #f5f5f5 86%, #f3f3f3 86%, #e9e9e9 100%)
  background: -webkit-linear-gradient(left, #fbfbfb 0%,#e9e9e9 0%,#e8e8e8 0%,#eaeaea 0%,#efefef 9%,#f1f1f1 12%,#f3f3f3 12%,#f3f3f3 14%,#f5f5f5 14%,#f5f5f5 18%,#f7f7f7 18%,#fbfbfb 25%,#fbfbfb 75%,#f9f9f9 75%,#fafafa 77%,#f5f5f5 85%,#f3f3f3 85%,#f5f5f5 86%,#f3f3f3 86%,#e9e9e9 100%)
  background: linear-gradient(to right, #fbfbfb 0%,#e9e9e9 0%,#e8e8e8 0%,#eaeaea 0%,#efefef 9%,#f1f1f1 12%,#f3f3f3 12%,#f3f3f3 14%,#f5f5f5 14%,#f5f5f5 18%,#f7f7f7 18%,#fbfbfb 25%,#fbfbfb 75%,#f9f9f9 75%,#fafafa 77%,#f5f5f5 85%,#f3f3f3 85%,#f5f5f5 86%,#f3f3f3 86%,#e9e9e9 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#e9e9e9',GradientType=1 )
  text-align: right
  +tablet
    min-height: 100%

.carousel-inner>.item>img
  display: inline-block

.carousel-indicators
  > li 
    background-color: #d0d0d0
    width: 12px
    height: 12px
    margin: 0 1px
    border: none
  > li.active
    background-color: #07a550

.jumbtron-slider
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 2
  text-align: left
  background: none


.welcome
  padding-bottom: 68px
  +mobile
    padding: 25px 0

.upcoming-events
  padding-top: 67px
  padding-bottom: 22px
  +mobile
    padding: 25px 0

.location
  padding-left: 28px
  position: relative
  display: inline-block
  vertical-align: top
  margin-right: 57px
  margin-bottom: 23px
  max-width: 350px
  &:before
    position: absolute
    content: ' '
    top: 2px
    left: 0
    +sprite($location) 

.events-block
  margin-top: 66px
  margin-right: -12.5px 
  margin-left: -12.5px 
  +tablet
    text-align: center
  +mobile 
    margin-top: 25px
  > div 
    width: 25%
    float: left
    padding: 0 12.5px
    +desktop-large
      width: 50%
    +tablet
      width: 100%
      display: inline-block
      float: none
      max-width: 470px

.event
  margin-bottom: 40px
  +border-radius(5px)

  img 
    width: 100%

  &__body
    background-color: #ffffff
    padding: 19px 17px
    min-height: 330px
    @media only screen and (max-width: 1500px) 
      min-height: 510px 
    +desktop-large
      min-height: 330px
    +mobile 
      padding: 15px 10px

  &__description
    color: #888888
    font-size: 16px
    overflow: hidden
    margin-bottom: 5px
    +desktop
      font-size: 15px

    .date
      margin: 0
      float: left

    span 
      display: block
      margin-right: 60px
      letter-spacing: 0
      margin-left: 0px
      +tablet
        text-align: left

    .btn 
      float: right
      margin-bottom: 2px

  &__title
    color: #07a550
    font-family: 'HelveticaRounded-Bold', Arial, sans-serif
    font-size: 22px
    display: inline-block
    margin-bottom: 12px

.event-calendar
  background-color: #ffffff
  border-radius: 5px
  box-shadow: 0 4px 16px rgba(3, 4, 4, 0.15)
  height: 580px
  overflow-y: auto
  max-width: 500px
  margin: 0 auto 39px
  &--solo 
    height: 350px

    .month-title
      padding-top: 30px

  .event-calendar-title
    color: #07a550
    font-family: 'HelveticaRounded-Bold', Arial, sans-serif
    font-size: 22px
    display: block
    margin: 17px 0 18px 21px
  .calendar-item
    border-bottom: 1px solid #f0f0f0
    margin-bottom: 10px
    &:last-child
      border: none

.month-title
  color: #26bb6b
  font-size: 14.6px
  font-family: 'HelveticaNeue-Roman', Arial, sans-serif
  display: block
  text-align: center

.month-table
  max-width: 245px
  width: 100%
  margin: 0 auto 12px 
  +desktop-large
    margin: 0 auto

  tr 

  th, td 
    text-align: center
    font-size: 12px
    color: #666666
    font-family: 'HelveticaNeue-Roman', Arial, sans-serif

  th
    padding: 5px 5px 8px

  td 
    padding: 1px

  a 
    font-size: 12px
    padding: 4.5px 4px
    display: block
    width: 33px
    margin: 0 auto 
    +border-radius(50%)
    color: #666666
    font-family: 'HelveticaNeue-Roman', Arial, sans-serif
    &.active
      background-color: #26bb6b
      color: #ffffff

    &.selected
      color: #26bb6b

.sign-up
  margin: 50px 0
  +tablet
    margin: 0

.sign-up
  background-color: #e3e3e3
  padding: 46px 0
  text-align: center

  .sign-up-title
    color: #080808
    font-size: 41px
    margin-bottom: 25px
    font-family: 'HelveticaRounded-Bold', Arial, sans-serif
    +tablet
      font-size: 28px
    +mobile
      font-size: 24px
  .sign-up-title-green
    color: $green

.shedule
  padding: 105px 0 48px
  +mobile 
    padding: 35px 0

  &__title
    font-size: 24px
    color: #ffffff
    font-family: 'HelveticaRounded-Bold', Arial, sans-serif
    display: block
    margin-bottom: 10px
  &__time
    display: inline-block
    float: left
    min-width: 85px
    margin-right: 10px
    text-align: right
    font-family: 'HelveticaNeue-Roman', Arial, sans-serif
  &__body
    margin-bottom: 45px
    font-size: 16px
    color: #ffffff
    margin-left: 15px
    p 
      margin-bottom: 15px

    span + span 
      display: block
      margin-left: 95px

.man-icon-1
  position: relative
  &:before
    position: absolute
    content: ' '
    top: 50%
    left: -17px
    margin-top: -15px
    +sprite($man-1)

.man-icon-2
  position: relative
  &:before
    position: absolute
    content: ' '
    top: 50%
    left: -17px
    margin-top: -15px
    +sprite($man-2)

.man-icon-3
  position: relative
  &:before
    position: absolute
    content: ' '
    top: 50%
    left: -17px
    margin-top: -15px
    +sprite($man-3)
      
.bag-icon
  position: relative
  &:before
    position: absolute
    content: ' '
    top: 50%
    left: -16px
    margin-top: -10px
    +sprite($bag)

.terms-wrap
  padding-top: 50px
  +mobile
    padding: 25px 0 0

.terms-content
  padding-left: 40px
  +tablet
    padding-left: 0

.terms
  font-size: 16px
  position: relative
  padding-top: 89px
  +mobile 
    padding: 30px 0

  ol 
    > li 
      line-height: 22px

  .agree
    font-size: 24px
    +mobile 
      font-size: 20px
      text-align: center

  .agree-icon
    display: inline-block
    position: relative
    vertical-align: middle
    width: 33px
    height: 33px
    +border-radius(50%)
    margin-right: 10px
    background-color: #2cac61
    margin-bottom: 5px
    &:before
      position: absolute
      content: ' '
      +sprite($white-check)
      top: 50%
      left: 50%
      margin-top: -6px 
      margin-left: -8.5px

.divider
  height: 1px 
  background-color: #e1e1e1
  margin: 25px 0

.bordered
  border: 2px solid #888888
  height: 177px
  overflow: auto
  margin-bottom: 25px

  &__body 
    padding: 17px 17px 0

  .mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown
    +border-radius(0px)

.terms-nav
  +border-radius(5px)
  overflow: hidden
  > li 
    border-bottom: 1px solid #e1e1e1
    &:last-child
      border: none
    > a 
      text-transform: uppercase
      color: #888888
      font-size: 20px
      font-family: 'HelveticaRounded-Bold', Arial, sans-serif
      padding: 18px 20px 
      background-color: #f4f4f4
      display: block
      &:hover, &:focus
        background-color: #eaeaea
        text-decoration: none
      +mobile
        font-size: 16px
        padding: 12px 15px

.product-catalog
  max-width: 1163px
  padding: 60px 15px
  margin: 0 auto

.product
  background-size: 100%
  min-height: 250px
  max-width: 360px
  width: 100%
  margin: 0 auto

  margin-bottom: 28px
  padding: 20px 15px
  position: relative
  cursor: pointer
  display: block
  font-size: 24px
  &:hover 
    text-decoration: none

  &:before
    opacity: 0
    position: absolute
    z-index: 5
    top: 0
    left: 0
    width: 100%
    height: 100%
    content: ' '
    background: rgba(#49cc8d, 0.6) url('../images/serch-icon.png') center no-repeat
    transition: all 0.2s ease

  &:hover:before
    opacity: 1

  &__category
    display: block
    color: #000000
    &--green 
      color: #07a550

  &__title
    color: #000000
    display: block
    margin-bottom: 35px

  .position
    position: absolute
    bottom: -10px
    right: 25px
    +tablet
      right: initial
      left: 25px

  .discount
    font-size: 60px
    color: #07a550
    font-weight: 700

.product-5
  .product__category
    margin-bottom: 30px
  div
    margin-bottom: 30px 

.product-1
  background: url('../images/product-bg-1.jpg') 50% 0 no-repeat
.product-2
  background: url('../images/product-bg-2.jpg') 50% 0 no-repeat
.product-3
  background: url('../images/product-bg-4.jpg') 50% 0 no-repeat
.product-4
  background: url('../images/product-bg-5.jpg') 50% 0 no-repeat
.product-5
  min-height: 527px
  background: url('../images/product-bg-3.jpg') 50% 0 no-repeat
  +tablet
    min-height: 250px



.our-activities
  text-align: center
  padding: 0 0 80px
  +tablet
    padding: 0 0 40px

.b-activity
  padding: 0 10px 
  max-width: 400px
  margin: 0 auto 25px
  &__title
    color: #000000
    font-size: 24px
    display: block
    margin-bottom: 30px

  &__icon
    display: block
    margin: 0 auto
    width: 58px
    height: 58px
    background-color: #07a550
    +border-radius(3px)
    margin-bottom: 25px
    position: relative
    &:before
      position: absolute
      top: 50%
      left: 50%
      content: ' '
      background-image: url("../images/sprite.png")

    &--1:before
      width: 37px
      height: 37px
      margin-top: -18.5px
      margin-left: -18.5px
      background-position: 0 -123px
    &--2:before
      width: 29px
      height: 28px
      margin-top: -14px
      margin-left: -14.5px
      background-position: -47px -123px
    &--3:before
      width: 27px
      height: 28px
      margin-left: -13.5px
      margin-top: -14px
      background-position: -86px -123px
    &--4:before
      width: 26px
      height: 26px
      margin-top: -13px
      margin-left: -13px
      background-position: -123px -123px


  &__description
    color: #a3a2a2
    font-size: 14px
    font-family: 'HelveticaNeue-Roman', sans-serif

.reviews
  background-color: #f4f4f4
  padding: 100px 0 110px
  +desktop-large
    padding: 80px 0
  +tablet
    padding: 60px 0
  +mobile
    padding: 40px 0

  .carousel-inner
    max-width: 960px
    margin: 0 auto
    padding: 0 30px
    text-align: center

  .carousel-control
    width: 24px
    height: 41px
    opacity: 1
    background: none
    top: 50%
    margin-top: -20.5px

  .carousel-control.left
    background: url('../images/arrow-prwe.png') 0 0 no-repeat
  .carousel-control.right
    background: url('../images/arrow-next.png') 0 0 no-repeat

  &__message
    color: #000000
    font-size: 30px
    line-height: 1.2
    margin-bottom: 25px
    +desktop
      font-size: 26px
    +tablet
       font-size: 24px
    +mobile
       font-size: 20px 


  &__owner
    font-family: 'HelveticaNeue-Roman', sans-serif
    color: #07a550
    font-size: 22px
    display: block
    +tablet
      font-size: 18px

.articles
  padding: 30px 0 100px

.article
  max-width: 480px
  margin: 0 auto 40px
  &__img-wrap
    display: block
    margin-bottom: 30px
    position: relative
    img 
      width: 100%
    &:before
      opacity: 0
      position: absolute
      z-index: 5
      top: 0
      left: 0
      width: 100%
      height: 100%
      content: ' '
      background: rgba(#49cc8d, 0.6) url('../images/serch-icon.png') center no-repeat
      transition: all 0.2s ease

    &:hover:before
      opacity: 1

  &__post-date
    position: absolute
    bottom: 0
    left: 0
    width: 90px
    height: 90px
    border: 1px solid #c6c6c6 
    background-color: #ffffff
    padding: 15px 0 20px
    text-align: center
    font-family: 'Open Sans', sans-serif
    font-weight: 300
    font-size: 13px

  &__post-day
    font-size: 52px
    line-height: 42px
    display: block
    color: #000000
    font-family: 'Open Sans', sans-serif
    font-weight: 300

  &__title
    font-size: 14px
    line-height: 18px
    margin-bottom: 20px
    color: #000000
    font-family: 'HelveticaNeue-Bold', sans-serif
    display: inline-block
    text-transform: uppercase

  &__description
    color: #a3a2a2
    font-family: 'HelveticaNeue-Bold', sans-serif
    font-size: 14px
    line-height: 18px
    margin-bottom: 20px

.links
  text-align: center
  margin-bottom: 50px
  > a 
    font-size: 24px
    color: #000000

    &:first-child:before
      display: none
    &:before
      content: '/'
      display: inline-block
      vertical-align: middle 
      margin: 0 10px
      

.featured-product-wrap
  max-width: 1150px
  padding: 0 15px
  margin: 0 auto
  text-align: center

.featured-product
  margin-bottom: 60px
  
  .subtitle-page
    margin-bottom: 40px

  .item
    margin-bottom: 30px
    text-align: center
    display: inline-block
    max-width: 275px
    padding: 0 12px
    width: 100%

    &__img-wrap
      display: block
      border: 1px solid #e8e8e8
      min-height: 295px
      line-height: 295px
      text-align: center
      margin-bottom: 20px

    &__title
      display: block
      font-size: 18px

    &__price
      font-size: 18px

    &__old-price
      font-size: 12px
      color: #9f9f9f
      margin-left: 5px
      text-decoration: line-through

    &__rating
      width: 61px
      margin: 0 auto 5px

h2.margin-bottom-45
  margin-bottom: 45px

span.margin-right-90
  margin-right: 90px

.activity-block
  margin-bottom: 15px
  +tablet
    text-align: center
  
  .activity-title
    font-size: 24px
    color: $green
    margin-bottom: 35px
    margin-left: 105px
    display: block
    +desktop
      margin-left: 0
      margin-right: 0
    +tablet
      font-size: 18px
      margin-bottom: 20px

  p 
    margin-left: 105px

  .activity-numbers 
    font-size: 72px
    line-height: 1.1
    display: inline-block
    vertical-align: middle
    +desktop
      font-size: 64px
    +tablet
      font-size: 48px

  .activity-icon-1
    float: left
    width: 80px
    height: 79px
    background: url('../images/activity-icon-1.png') 0 0 no-repeat
  .activity-icon-2
    float: left
    width: 76px
    height: 75px
    background: url('../images/activity-icon-2.png') 0 0 no-repeat
  .activity-icon-3
    float: left
    width: 76px
    height: 75px
    background: url('../images/activity-icon-3.png') 0 0 no-repeat
  .activity-icon-4
    float: left
    width: 76px
    height: 75px
    background: url('../images/activity-icon-4.png') 0 0 no-repeat
  
  .activity-icon-5
    display: inline-block
    vertical-align: middle
    margin-right: 27px
    width: 71px
    height: 71px
    background: url('../images/activity-icon-5.png') 0 0 no-repeat
  .activity-icon-6
    display: inline-block
    vertical-align: middle
    margin-right: 45px
    width: 51px
    height: 51px
    background: url('../images/activity-icon-6.png') 0 0 no-repeat
  .activity-icon-7
    display: inline-block
    vertical-align: middle
    margin-right: 36px
    width: 58px
    height: 60px
    background: url('../images/activity-icon-7.png') 0 0 no-repeat
  .activity-icon-8
    display: inline-block
    vertical-align: middle
    margin-right: 34px
    width: 62px
    height: 58px
    background: url('../images/activity-icon-8.png') 0 0 no-repeat

.margin-bottom-150
  margin-bottom: 150px
  +tablet
    margin-bottom: 30px

.cards-wrap
  background-color: #14904e
  padding: 80px 0
  +tablet
    padding: 30px 0

.card
  min-height: 580px
  +border-radius(5px)
  padding: 55px 50px 0px
  text-align: center
  position: relative 
  max-width: 500px
  margin: 0 auto 20px
  @media only screen and (max-width: 1500px)
    padding: 35px 20px 0
  +desktop
    min-height: 660px
  +tablet
    min-height: 100%
    padding: 25px 25px 120px
    
  &--green
    background-color: #2c9b60
  &--dark-green
    background-color: #51ad7c
  &--white
    background-color: #ffffff  


  &__title
    font-family: 'HelveticaRounded-Bold', Arial, sans-serif
    font-size: 16px
    display: block
    margin-bottom: 25px
    color: #ffffff

    &--green
      color: #07a550
  &__caption
    color: #ffffff
    font-size: 18px
    display: block
    margin-bottom: 50px
    &--green
      color: #07a550
  &__list 
    text-align: left
    list-style-type: square
    margin-left: 18px
    > li 
      font-size: 14px
      color: #ffffff
      margin-bottom: 10px

    &--green 
      > li 
        color: #07a550

  &__price
    color: #ffffff
    display: block
    font-size: 16px 
    margin-bottom: 25px

    &--green
      color: #07a550

  &__footer
    position: absolute
    left: 0
    bottom: 20px
    width: 100%
    padding: 0 50px
    text-align: center

  .btn 
    padding: 13px 20px

.icons
  margin-bottom: 40px
  li
    display: inline-block
    margin-right: 14px
    
  .icon-1
    +sprite($bag)
  .icon-2
    width: 22px
    height: 22px
    background: url('../images/activity-icon-8.png') 0 0 no-repeat
    background-size: 100%

  .icon-3
    width: 25px
    height: 25px
    background: url('../images/activity-icon-6.png') 0 0 no-repeat
    background-size: 100%

  .icon-4
    width: 26px
    height: 27px 
    background: url('../images/activity-icon-7.png') 0 0 no-repeat
    background-size: 100%
  .icon-5
    width: 31px
    height: 31px
    background: url('../images/activity-icon-5.png') 0 0 no-repeat
    background-size: 100%

.timer-wrap
  padding: 13px 10px 7px
  background-color: #ffffff 
  max-width: 350px
  margin: 245px auto 20px
  +desktop-large
    margin-top: 0

  +border-radius(10px)
  text-align: center
  > span 
    font-size: 25px 
    color: $green
    display: block
    margin-top: 5px
    font-family: 'HelveticaNeue-Roman', Arial, sans-serif

.timer
  text-align: center

  &__element
    display: inline-block
    color: $green
    position: relative
    margin: 0 15px
    @media only screen and (max-width: 1420px)
      margin: 0 8px
    &:last-child:after
      display: none
    &:after
      content: ':'
      position: absolute
      right: -21px 
      top: -2px
      font-family: 'HelveticaNeue-Roman', Arial, sans-serif
      font-size: 36px
      @media only screen and (max-width: 1420px)
        right: -17px

  &__value
    font-family: 'HelveticaNeue-Roman', Arial, sans-serif
    font-size: 36px
    +tablet
      font-size: 29px

  &__text
    display: block
    color: $green
    font-family: 'HelveticaNeue-Roman', Arial, sans-serif
    font-size: 14px 
    line-height: 14px

.program
  background-color: #14904e
  padding: 50px 0 100px

  +tablet
    padding: 30px 0 50px

.program-shedule
  max-width: 160px
  margin-bottom: 4px
  cursor: pointer
  padding: 5px 5px 0
  transition: all 0.2s ease
  &:hover, &:focus
    background-color: #3aa26a
  +tablet
    margin: 0 auto 20px
  .shedule-block
    max-width: 160px
    margin-bottom: 7px
  .date
    font-size: 24px
    color: #ffffff
    display: block
    margin-bottom: 3px
  .title
    font-size: 24px
    color: #ffffff
    display: block
    margin-bottom: 15px
    font: 18px/18px 'HelveticaNeueLTComXBlkCn', Arial, sans-serif

  

.program-shedule.active
  background-color: #3aa26a
  

.divider-tall
  height: 6px
  background-color: #3aa26a
  margin: 0

.panel-heading
  position: relative

.panel
  background: none
  padding: 7px 5px
  +border-radius(0px)
  box-shadow: none
  border: none
  > .panel-heading
    background: none
    +border-radius(0px)
  +tablet
    padding: 0px

.panel-default.active
  background-color: #3aa26a

.panel-title
  cursor: pointer

.accordion-about
  span 
    color: #ffffff
    font: 14px/18px 'HelveticaNeueLTComXBlkCn', Arial, sans-serif;
    display: inline-block
    margin-right: 30px
    letter-spacing: 1px

.accordion-title
  font-size: 24px
  line-height: 1.2
  color: #ffffff
  display: block
  margin-top: 5px
  font-family: 'HelveticaNeue-UltraLight'

.collase-my
  padding-right: 40px
.colapse-btn
  position: absolute
  top: 50%
  margin-top: -12px
  right: 20px
  &:before
    display: block
    content: '+'
    width: 24px
    height: 24px
    background-color: #3aa26a
    color: #ffffff
    text-align: center
    font: 14px/24px 'HelveticaNeueLTComXBlkCn', Arial, sans-serif;

.show-btn
  .colapse-btn:before
    content: '-'

.panel-body
  color: #ffffff

.speakers-block
  padding-top: 70px
  padding-bottom: 170px
  +tablet
    padding: 40px 15px 70px

.speakers
  text-align: center

.speaker
  max-width: 150px
  display: inline-block
  margin-right: 30px
  opacity: 0.3
  position: relative
  cursor: pointer
  &:before
    position: absolute
    content: '+'
    font-family: 'HelveticaNeue-Bold'
    font-size: 72px
    color: #14904e
    top: 150px
    left: 50%
    margin-left: -22px
  &__body
    padding: 10px 15px
    background-color: #bbdfcc
  &__name
    font-family: 'HelveticaNeue-Bold'
    font-size: 18px
    display: block
    margin-bottom: 20px 
    text-align: left
    color: #000201

  &__description
    color: #000201
    font-size: 14px 
    text-align: left
  &__label
    color: #ffffff
    font-family: 'HelveticaRounded-Bold', Arial, sans-serif
    font-size: 18px
    padding: 8px 0px
    width: 100%
    margin-bottom: 40px
    text-align: center
    color: #000201

  &--active
    opacity: 1
    cursor: default
    &:before
      display: none
    .speaker__body
      background-color: #14904e
      
    .speaker__name
      
      color: #ffffff

    .speaker__description
      
      color: #ffffff

    .speaker__label
      background-color: #14904e
      color: #ffffff
      

.nav-tabs
  border: none
  > li 
    display: block
    float: none


.lesson-bank
  padding: 80px 0 80px

  background: #fbfbfb 
  background: -moz-linear-gradient(left, #fbfbfb 0%, #e9e9e9 0%, #e8e8e8 0%, #eaeaea 0%, #efefef 9%, #f1f1f1 12%, #f3f3f3 12%, #f3f3f3 14%, #f5f5f5 14%, #f5f5f5 18%, #f7f7f7 18%, #fbfbfb 25%, #fbfbfb 75%, #f9f9f9 75%, #fafafa 77%, #f5f5f5 85%, #f3f3f3 85%, #f5f5f5 86%, #f3f3f3 86%, #e9e9e9 100%)
  background: -webkit-linear-gradient(left, #fbfbfb 0%,#e9e9e9 0%,#e8e8e8 0%,#eaeaea 0%,#efefef 9%,#f1f1f1 12%,#f3f3f3 12%,#f3f3f3 14%,#f5f5f5 14%,#f5f5f5 18%,#f7f7f7 18%,#fbfbfb 25%,#fbfbfb 75%,#f9f9f9 75%,#fafafa 77%,#f5f5f5 85%,#f3f3f3 85%,#f5f5f5 86%,#f3f3f3 86%,#e9e9e9 100%)
  background: linear-gradient(to right, #fbfbfb 0%,#e9e9e9 0%,#e8e8e8 0%,#eaeaea 0%,#efefef 9%,#f1f1f1 12%,#f3f3f3 12%,#f3f3f3 14%,#f5f5f5 14%,#f5f5f5 18%,#f7f7f7 18%,#fbfbfb 25%,#fbfbfb 75%,#f9f9f9 75%,#fafafa 77%,#f5f5f5 85%,#f3f3f3 85%,#f5f5f5 86%,#f3f3f3 86%,#e9e9e9 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#e9e9e9',GradientType=1 )
  @media only screen and (max-width: 1500px)
    padding: 70px 0 50px
  +desktop
    padding: 50px 0 80px
  +tablet
    padding: 30px 0 40px
  

.ui-slider-horizontal
  height: 32px
  background-color: #e5f4ec
  box-shadow: inset 0px 0px 1px #d8f0e3
  border: none
  +border-radius(10px)
  overflow: hidden

.ui-slider-horizontal .ui-slider-handle
  width: 7px 
  height: 100%
  top: 0
  left: 0
  margin-left: 0
  background-color: #ffffff
  border: none
  &:focus 
    background-color: #ffffff

.ui-slider-horizontal .ui-slider-range-min
  background-color: #26bb6b

.ui-slider
  margin: 0

.slider-price
  position: relative
  margin-bottom: 0

  margin-left: 200px
  display: block
  margin-right: 135px
  width: initial
  +tablet
    margin: 0 0 30px

  // @media only screen and (max-width: 1500px)
  //   max-width: 400px
  // +desktop-large
  //   max-width: 550px
  // +desktop
  //   max-width: 350px
  // +tablet
  //   max-width: 100%
    

  span 
    position: absolute
    top: -22px
    font-size: 12px 
    color: #b3b3b3
  .min
    left: 0
  .max
    right: 0

.about-lessons
  +desktop-large
    margin-bottom: 50px

.lesson-price
  margin-top: 10px
  input[type='text']
    display: block
    height: 25px
    padding: 7px 10px 0
    border: none
    color: $green
    font-size: 17px
    margin-bottom: 5px
    font-family: 'HelveticaNeue-Bold'

  .checkbox
    width: 60px
    text-align: center
    +tablet
      margin-bottom: 20px
      width: 45px

.lesson-wrap
  float: left
  margin-bottom: 10px
  +tablet
    margin-bottom: 20px
    float: none
    display: inline-block
  .lesson-title
    display: inline-block
    display: block
    color: $green
    font-size: 17px
    line-height: 17px
    font-family: 'HelveticaNeue-Bold'
  .lesson-value
    font-size: 17px
    color: #a7d5b6

.lesson-all-price
  float: right
  max-width: 120px
  +mobile
    max-width: 100px

.checkbox
  float: left
  margin: 0
  vertical-align: middle
  position: relative
  +tablet
    float: none
    display: inline-block
  
  &__text
    margin-right: 10px
    float: left

  .checkbox-title
    position: absolute
    top: -50px
    left: 0
    text-align: center
    width: 100%
    color: $green
    font-size: 17px
    font-family: 'HelveticaNeue-Bold'


  label
    font-weight: 300
    padding: 0

  input[type="checkbox"]
    display: none
    + label span
      display: inline-block
      width: 20px
      height: 14px
      +border-radius(10px)
      vertical-align: middle
      border: 1px solid $green
      cursor: pointer
      position: relative

    &:checked + label span
      background-color: $green

.lesson-price-wrap


.lesson-bank-block
  text-align: center
  p 
    margin-bottom: 45px

.container-special
  max-width: 1630px
  padding: 0 15px
  width: 100%
  margin: 0 auto

.margin-bottom-45
  margin-bottom: 45px

.margin-left-125
  margin-left: 125px

.jumbtrone-form
  position: relative
  text-align: center
  margin: 0 auto
  height: calc(100vh - 68px)
  background-color: #fbfbfb
  +mobile
    height: calc(100vh - 154px)

  .jumbthrone-body
    position: absolute
    max-width: 880px
    width: 100%
    padding: 0 15px
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

  .title-h1
    font-size: 62px
    color: #07a550
    line-height: 1.1
    margin-bottom: 40px
  p 
    font-size: 17px
    color: #000000
    margin-bottom: 45px

.forms-wrap
  margin: 50px 0

.forms-page

  .nav-tabs-title
    margin-bottom: 0
    text-align: center



.interview-form

  max-width: 1000px
  margin: 0 auto

  textarea
    height: 120px

  .form-control
    font-size: 16px
    color: #999999
    text-transform: none
    border: 1px solid #bde7d0
    border-radius: 20px
    +placeholder-normal

    &:hover, &:focus
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #bde7d0
    &--grey
      border-color: #868686
      &:hover, &:focus
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.25), 0 0 8px rgba(0,0,0,0.25)

  textarea
    font-size: 17px
    color: #999999
    text-transform: none
    border: 1px solid #bde7d0
    border-radius: 20px
    background: none
    +placeholder-normal
    color: #999999
    +placeholder-color(#999)
    
  .textarea-grey
    border-color: #868686

  .title
    display: block
    font-size: 17px
    margin-bottom: 20px 
    &--grey 
      color: #a3a2a2
      font-size: 13px
      padding-left: 30px
    +tablet
      margin-bottom: 15px

  &__block
    margin-bottom: 50px
    +tablet
      margin-bottom: 20px

  &--width-540
    max-width: 560px

    input.form-control
      height: 30px 
      font-size: 14px

    textarea
      font-size: 14px
      height: 90px
      background: none

    .interview-form__block
      margin-bottom: 30px

.add-something
  font-size: 72px 
  line-height: 1.1
  font-family: 'HelveticaRounded-Bold', Arial
  color: $green
  text-align: center
  margin: 10px 0

.dropdown-wrap
  text-align: center
  margin-bottom: 50px
  +tablet
    margin-bottom: 20px

.dropdown-questions
  text-align: center
  display: inline-block
  max-width: 220px
  width: 100%

  .dropdown-toggle
    display: inline-block
    font-size: 17px
    line-height: 17px
    color: #000000
    text-transform: none
    padding: 0 10px
    width: 100%
    background-color: #daf2e5
    border: none
    height: 19px
    font-weight: 100
    font-family: 'HelveticaNeue-UltraLight', Arial
    &:hover, &:focus 
      outline: none

  .dropdown-menu
    width: 220px
    background-color: #daf2e5
    border: none
    border-radius: 10px
    padding: 0
    overflow: hidden
    text-align: center
    > li 
      > a 
        font-size: 17px
        line-height: 17px
        padding: 2px 10px
        &:hover, &:focus 
          background-color: #44bb7b
          border-radius: 10px