@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', Arial, Tahoma, sans-serif;
    font-weight: 300;
    background-color: #f3f3f3;
}

a {
    color: #0ba54b;
    text-decoration: none;
    -webkit-transition: 200ms color;
            transition: 200ms color;
}

a:hover {
    color: #09843c;
}

.container {
    height: 100%;
    padding: 0 15px;
}

.vertical-center {
    display: table;
    width: 100%;
    height: 100%;
}

.vertical-center .vertical-center-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

input[type='text'], input[type='password'] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #0ba54b;
    background-color: transparent;
    color: #0ba54b;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 300;
    padding: 5px 10px;
}

label {
    padding: 5px 0;
    font-size: 18px;
}

.button {
    display: inline-block;
    border: none;
    background-color: #0ba54b;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 24px;
    border-radius: 100px;
    cursor: pointer;
    -webkit-transition: 200ms background-color;
            transition: 200ms background-color;
}

.button:hover {
    background-color: #09843c;
}

.form-field {
    overflow: hidden;
    margin-bottom: 25px;
}

.form-field .form-label {
    width: 25%;
    float: left;
    text-align: right;
    padding: 5px 10px 5px 0;
}

.form-field .form-label label {
    color: #0ba54b;
}

.form-field .form-input {
    width: 75%;
    float: left;
}

.action-links {
    list-style: none;
    margin: 15px 0 0;
    padding: 0;
}

.action-links li {
    display: block;
    margin: 5px 0;
}

.action-links li a {
    display: inline-block;
}

.social-connect ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-connect ul li {
    display: inline-block;
}

.social-connect ul li a {
    display: block;
    font-size: 22px;
    color: rgba(11, 165, 75, 0.3);
}

.social-connect ul li a:hover {
    color: #0ba54b;
}

.social-connect p {
    display: block;
    position: relative;
    font-size: 20px;
    color: #0ba54b;
    border-bottom: 1px solid #0ba54b;
    line-height: 0.3;
    margin-top: 10px;
}

.social-connect p span {
    padding: 0 5px;
    background-color: #f3f3f3;
}

.register-form {
    width: 100%;
    max-width: 430px;
    margin: auto;
}

.register-form form {
    margin-top: 50px;
}

.login-form {
    width: 100%;
    max-width: 320px;
    margin: auto;
}

.login-form form {
    margin-top: 50px;
}

.login-form form .form-input {
    position: relative;
    width: 100%;
    float: none;
}

.login-form form .form-input input {
    padding: 10px 45px 10px 10px;
}

.login-form form .form-input span {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 10px;
    color: #0ba54b;
    font-size: 11px;
    border-radius: 100px;
    border: 2px solid #0ba54b;
    padding: 2px;
}

@media (max-width: 420px) {
    .form-field .form-label {
        width: 100%;
        float: none;
        text-align: left;
        padding-right: 0;
    }

    .form-field .form-input {
        width: 100%;
        float: none;
    }
}
