<footer id="footer" class="footer">
  <div class="footer-top">
    <div class="container">

        <div class="row">
        
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="f-block">
              <div class="footer-logo"><a href="#!"><img src="images/logo.png" alt="logo"></a></div>
              <div class="addresss">TenniswithD, L3C <br> PO Box 805942 <br> Chicago, IL 60608</div>
              <div class="phone-number">+1.312.404.4752</div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="f-block">
              <span class="footer-title">Stay Connected</span>
              <span class="footer-subtitle">We will keep you updated with News, Events, & Promotions</span>
              <form class="email-form">
                  <input type="text" class="email-input" placeholder="Enter your email" name="mail">
                  <input type="submit" class="btn email-submit" name="subscribe" value="subscribe">
              </form>
            </div>
          </div>

          <div class="col-sm-6 col-md-2 col-lg-3">
            <div class="f-block">
              <span class="footer-title">QUICK NAV</span>
              <ul class="quick-nav">
                  <li><a href="#!">Home</a></li>
                  <li><a href="#!">Careers</a></li>
                  <li><a href="#!">Blog</a></li>
                  <li><a href="#!">Store</a></li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="f-block">
              <span class="footer-title title-green">Social pages:</span>
              <ul class="socials">
                <li><a href="#!" class="facebook"></a></li>
                <li><a href="#!" class="twitter"></a></li>
                <li><a href="#!" class="linkedin"></a></li>
                <li><a href="#!" class="instagram"></a></li>
                <li><a href="#!" class="pintrest"></a></li>
              </ul>
            </div>
          </div>
          
        </div>
    </div>
  </div>

  <div class="footer-bot">
    <div class="container clearfix">
        <p class="coptright">© 2015 TennisWithD. AllT Rights Reserved. Please no copies.</p>
        <p class="develop">Designed by: <a href="#!">Danai</a></p>
    </div>
  </div>
</footer><!-- #footer -->

<script src="js/jquery-2.2.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.js"></script>
<script src="js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="js/main.js"></script>