<header id="header" class="header header-2">

    <nav class="navbar navbar-default" role="navigation">
      <div class="header-container clearfix">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          <a class="navbar-brand" href="#"><img src="images/logo.png" alt="logo"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">home</a></li>
            <li><a href="#">careers</a></li>
            <li><a href="#">blog</a></li>
            <li><a href="#">store</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->

        <div class="header-bar">
          <form action="" class="search-form">
            <div class="form-wrap">
              <span class="search-form-title">Search</span>
              <input type="text" class="search-input" name="search">
              <input type="submit" class="search-btn" name="search-btn">
            </div>
          </form>

          <span class="user-name">SEAN COHEN</span>
          <span class="user-cash" id="cash-value">$ 00, 003.00</span>

          <a href="#!" class="cart">0 items</a>
        </div>
      </div><!-- /.header-container -->
    </nav>

</header><!--header-->