@import mixins
@import const
@import sprite

/*----------- button style *
 ------------------------------------------------------------*/

.btn
  min-width: 150px
  position: relative
  display: inline-block
  vertical-align: middle
  padding: 18px 20px
  margin: 0
  font: 12px/14px 'HelveticaNeue-Bold', Arial, sans-serif
  text-align: center
  text-decoration: none
  text-transform: uppercase
  cursor: pointer
  outline: none
  border: none
  background-color: $btn-bg-color
  border: 2px solid $btn-bg-color
  color: $btn-color
  border-radius: 30px
  transition: all 0.2s ease
  &:hover
    background-color: #29a864
    color: #ffffff
    text-decoration: none
    border-color: #29a864
  &:active
    background-color: $btn-act-bg-color
    color: $btn-act-color
    box-shadow: $btn-act-shadow
  &:focus
    outline: none
    color: $btn-color

.btn-max
  width: 100%

.btn-small
  font-size: 10px
  padding: 2px 5px
  min-width: 50px
  border-width: 1px
  +border-radius(8px)

.btn-big
  font-size: 25px
  padding: 34px 20px
  min-width: 300px
  +border-radius(43px)

.btn-transparent
  background-color: #ffffff
  border: 2px solid $green
  color: $green

.btn-defaul
  padding: 9px 10px
  min-width: 85px
  margin-bottom: 15px
  margin-top: 10px

/*----------- media style -----------*/


@media only screen and (max-width: 768px)
  
  .btn-big
    min-width: 200px
    font-size: 18px
    padding: 18px 20px


@media only screen and (max-width: 480px)

  .btn 
    min-width: 100px
    padding: 10px 15px

  .btn-small
    min-width: 50px
    font-size: 11px
    padding: 3px 5px

  .btn-big
    min-width: 200px
    font-size: 18px
    padding: 18px 20px

  