@import mixins
@import const
@import sprite

/*----------- Form sryle *
 ------------------------------------------------------------*/

.placeholder 
  color: red
  text-transform: none

*:focus::-moz-placeholder 
  color: transparent !important 
  text-transform: none

*[autofocus]::-moz-placeholder:focus 
  color: #000!important 
  text-transform: none

*:focus:-moz-placeholder 
  color: transparent !important 
  text-transform: none

*[autofocus]:-moz-placeholder:focus 
  color: #000!important 
  text-transform: none

*:focus::-webkit-input-placeholder 
  color: transparent !important 
  text-transform: none

*[autofocus]::-webkit-input-placeholder 
  color: #000!important 
  text-transform: none


input, textarea
  +placeholder-color(#000)
  +border-radius(0px)
  padding: 0 20px
  width: 100%
  height: 47px
  position: relative
  outline: none
  font: 14px/16px 'HelveticaNeue-UltraLight', Arial, sans-serif
  color: #000000
  background-color: #fff
  border: 1px solid #e0e0e0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
textarea
  height: 140px
  vertical-align: top
  padding: 15px 20px
  resize: none


.search-form
  max-width: 195px
  position: relative
  display: inline-block
  margin-right: 17px
  margin-top: 2px
  +mobile
    max-width: 100%
    width: 100%
    padding: 10px 0 20px

  .form-wrap
    position: relative
    display: inline-block
  .search-form-title
    font-size: 13px
  .search-input
    display: inline-block
    margin-left: 4px
    padding-left: 0
    padding-right: 15px
    width: 138px
    border: none
    height: 20px
    font-size: 14px
    border-bottom: 1px solid #cfcfcf

  .search-btn
    position: absolute
    bottom: 7px
    right: 0
    padding: 0
    font-size: 0
    border: none
    +sprite($search)
    width: 12px
    height: 13px

.email-form
  position: relative
  margin-top: 15px
  margin-left: -10px
  .email-input
    font-size: 12px
    line-height: 16px
    color: #a3a2a2
    font-family: 'HelveticaNeue-Light', Arial, sans-serif
    border: 1px solid #cccccc
    padding: 0px 20px
    height: 47px
    padding-right: 130px
    +border-radius(24px)
    +placeholder-color(#a3a2a2)
    text-transform: uppercase

  .email-submit
    position: absolute
    top: 3px 
    right: 3px
    max-width: 116px
    min-width: 100px
    width: 100%
    padding: 11.5px 20px
    height: auto

