@import mixins
@import const
@import sprite

/*----------- Page structur *
 ------------------------------------------------------------*/
html, body
  height: 100%

.clear 
  clear: both
.clearfix:after 
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden

#wrapper
  position: relative
  overflow: hidden
  min-height: 100%
  min-width: 320px
  margin-bottom: -313px

.page-buffer
  height: 313px

.container
  padding: 0 15px
  @media (min-width: 1200px)
    width: 100%
    max-width: 1513px

.block
  padding-top: 78px
  padding-bottom: 80px

.grey-block
  background-color: #f4f4f4

.green-block
  background-color: #14904e

.row 
  margin-right: -15px
  margin-left: -15px

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
  padding-left: 15px
  padding-right: 15px


/*----------- Navigation *
 ------------------------------------------------------------*/

.breadcrumb
  > li
    list-style-type: none
    display: inline-block
    vertical-align: middle
    &:before
      content: '/ '
    &:first-child
      &:before
        display: none


/*----------- header *
 ------------------------------------------------------------*/
.header
  position: relative

.header-2
  .search-form
    +tablet
      display: block
      margin: 0 auto 10px
  .cart
    +tablet
      margin-left: 15px
  .header-bar > a, .header-bar > span
    +tablet
      margin: 0 5px

.header-container
  max-width: 1595px
  width: 100%
  margin: 0 auto
  padding: 0 15px

.logo
  float: left
  margin: 0 20px 0 0

.header-bar 
  float: right
  margin-top: 19px
  +desktop
    padding: 10px 0
    float: none
    margin: 0 auto
    clear: both
    text-align: center
  > a, > span
    color: #000000
    font-size: 11px
    text-transform: uppercase
    margin-left: 24px
    +desktop-large
      margin-left: 15px

  .user-cash
    font-size: 17px
    color: #a8a8a8
    display: inline-block
    min-width: 97px

  .cart 
    position: relative
    font-size: 12px 
    text-transform: none
    padding-left: 24px
    margin-left: 46px
    &:before
      position: absolute
      content: ' '
      left: 0
      top: 50%
      margin-top: -8.5px
      +sprite($cart)

.navbar-default
  background: #ffffff
  border: none
  +border-radius(0px)
  min-height: 100%
  margin-bottom: 0
  
  .navbar-collapse
    float: left
    +tablet
      width: 100%
      margin-top: 10px

  .navbar-toggle
    border-color: #07a550
    border-width: 2px
    padding: 7px 10px
    +tablet
      margin-top: 18px
      margin-bottom: 0
    +mobile 
      padding: 6px 7px
    &:hover, &:focus
      background-color: #07a550
      .icon-bar
        background-color: #ffffff

    .icon-bar
      background-color: #07a550
      height: 3px
      +mobile 
        height: 2px


  .navbar-nav
    margin-left: 9px
    > li
      margin-right: 13.5px
      +desktop-large
        margin-right: 5px
      > a
        text-transform: uppercase
        font-size: 11px
        padding: 0
        padding: 28px 15.5px 10px
        +tablet
          padding: 12px 15px
        &:hover, &:focus
          background-color: #fbfbfb

    > li.active 
      > a 
        background-color: #fbfbfb
        &:hover, &:focus
          background-color: #fbfbfb


/*----------- Footer *
 ------------------------------------------------------------*/
.footer
  height: 313px
  width: 100%
  position: relative
  text-align: center
  border-top: 1px solid #c9c9c9
  .row 
    font: 14px Verdana, sans-serif
    word-spacing: -.36em
    > div 
      word-spacing: normal
      float: none
      display: inline-block
      vertical-align: top
      margin-right: -4px
      +tablet
        width: 50%
      @media only screen and (max-width: 620px)
        width: 100%

.footer-title
  color: #555555
  font-size: 13px
  line-height: 15px
  font-family: 'HelveticaNeue-Light', Arial, sans-serif
  text-transform: uppercase
  display: block
  margin-bottom: 10px

.footer-subtitle
  color: #a3a2a2
  font-size: 12px
  font-family: 'HelveticaNeue-Light', Arial, sans-serif

.title-green
  color: #07a550

.f-block
  display: inline-block
  text-align: left
  padding: 0 0px 30px
  +tablet
    padding: 0 0 15px

.footer-top
  font-family: 'HelveticaNeue-Light', Arial, sans-serif
  padding: 50px 0 10px
  @media only screen and (max-width: 620px)
    padding: 30px 0 0
  .footer-logo
    margin-bottom: 20px

  .addresss, .phone-number
    font-size: 12px
    line-height: 18px
    color: #6f6f6f
    margin-left: 45px
    margin-top: 15px

  .phone-number
    position: relative
    display: inline-block
    padding-left: 15px
    &:before
      position: absolute
      content: ' '
      +sprite($phone) 
      top: 50%
      margin-top: -4.5px
      left: 0

  .quick-nav
    list-style-type: disc
    margin-left: 20px
    display: inline-block
    color: #676767
    font-size: 17px
    text-align: left
    margin-top: 5px
    > li 
      > a
        color: #a3a2a2
        font-size: 13px

  .socials
    margin-top: 50px
    +desktop-large
      margin-top: 35px
    @media only screen and (max-width: 620px)
      margin-top: 10px
    > li 
      display: inline-block
      vertical-align: middle
      margin-right: 15px
      margin-bottom: 10px
      @media only screen and (max-width: 1500px)
        margin-right: 10px

      +desktop-large
        margin-right: 5px

      .facebook
        background-image: url('../images/facebook.png')
        width: 51px
        height: 51px
        @media only screen and (max-width: 1500px)
          width: 40px
        +desktop-large
          width: 35px

      .twitter
        background-image: url("../images/twitter.png")
        width: 43px
        height: 36px
        @media only screen and (max-width: 1500px)
          width: 30px
        +desktop-large
          width: 26px

      .linkedin
        width: 48px
        height: 45px
        background-image: url("../images/linked-in.png")
        @media only screen and (max-width: 1500px)
          width: 40px
        +desktop-large
          width: 35px
          

      .instagram
        background-image: url("../images/instagram.png")
        width: 51px
        height: 51px
        @media only screen and (max-width: 1500px)
          width: 40px
        +desktop-large
          width: 35px
          

      .pintrest
        width: 52px
        height: 52px
        background-image: url("../images/pintrest.png")
        @media only screen and (max-width: 1500px)
          width: 40px
        +desktop-large
          width: 35px

      > a 
        display: block
        background-size: 100%
        background-repeat: no-repeat


      

.footer-bot 
  background-color: #f4f4f4
  padding: 23px 0 
  @media only screen and (max-width: 620px)
    text-align: center
  p 
    font-size: 12px
    color: #a3a2a2
    margin-bottom: 0
    font-family: 'HelveticaNeue-Light', Arial, sans-serif
  .container
    overflow: hidden
  .coptright
    float: left
    @media only screen and (max-width: 620px)
      float: none

  .develop
    float: right
    @media only screen and (max-width: 620px)
      float: none

/*----------- media style -----------*/

// @media only screen and (max-width: 1200px)


@media only screen and (max-width: 992px)

  h1, .title-h1
    font-size: $title-h1-size / 1.1

  h2, .title-h2
    font-size: $title-h2-size / 1.1


@media only screen and (max-width: 768px)

  body, html
    height: auto

  #wrapper
    min-width: 1px
    margin-bottom: 0px

  .page-buffer
    display: none

  .footer
    height: auto

  h1, .title-h1
    font-size: $title-h1-size / 1.3

  h2, .title-h2
    font-size: $title-h2-size / 1.2


// @media only screen and (max-width: 600px)


@media only screen and (max-width: 480px)

  h1, .title-h1
   font-size: $title-h1-size / 1.5

  h2, .title-h2
   font-size: $title-h2-size / 1.3


/*----------- Main blocks *
 ------------------------------------------------------------*/




























