@import sprite

/* 
 *------------------------------------------------------------------------------------------------------------------------
 *1. BASIC STYLE  
 *------------------------------------------------------------------------------------------------------------------------ */

.mCustomScrollbar
  -ms-touch-action: pinch-zoom
  touch-action: pinch-zoom
  /* direct pointer events to js*/
  &.mCS_no_scrollbar, &.mCS_touch_action
    -ms-touch-action: auto
    touch-action: auto

.mCustomScrollBox
  /* contains plugin's markup*/
  position: relative
  overflow: hidden
  height: 100%
  max-width: 100%
  outline: none
  direction: ltr

.mCSB_container
  /* contains the original content*/
  overflow: hidden
  width: auto
  height: auto

/* 
 *------------------------------------------------------------------------------------------------------------------------
 *2. VERTICAL SCROLLBAR 
 *y-axis
 *------------------------------------------------------------------------------------------------------------------------ */

.mCSB_inside > .mCSB_container
  margin-right: 30px

.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden
  margin-right: 0

/* non-visible scrollbar*/

.mCS-dir-rtl > .mCSB_inside > .mCSB_container
  /* RTL direction/left-side scrollbar*/
  margin-right: 0
  margin-left: 30px
  &.mCS_no_scrollbar_y.mCS_y_hidden
    margin-left: 0

/* RTL direction/left-side scrollbar*/

.mCSB_scrollTools
  /* contains scrollbar markup (draggable element, dragger rail, buttons etc.)*/
  position: absolute
  width: 29px
  height: auto
  left: auto
  top: 0
  right: 0
  bottom: 0

.mCSB_outside + .mCSB_scrollTools
  right: -26px

/* scrollbar position: outside*/

.mCS-dir-rtl >
  .mCSB_inside > .mCSB_scrollTools
    /* RTL direction/left-side scrollbar*/
    right: auto
    left: 0
  .mCSB_outside + .mCSB_scrollTools
    /* RTL direction/left-side scrollbar*/
    right: auto
    left: 0
    left: -26px

/* RTL direction/left-side scrollbar (scrollbar position: outside)*/

.mCSB_scrollTools
  .mCSB_draggerContainer
    /* contains the draggable element and dragger rail markup*/
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    height: auto
  a + .mCSB_draggerContainer
    margin: 23px 0
  .mCSB_draggerRail
    width: 29px
    height: 100%
    margin: 0 auto
    background-color: #e8e8e8
  .mCSB_dragger
    /* the draggable element*/
    cursor: pointer
    width: 100%
    height: 30px
    /* minimum dragger height*/
    z-index: 1
    .mCSB_dragger_bar
      /* the dragger element*/
      position: relative
      width: 29px
      background-color: #cfcfcf
      height: 100%
      margin: 0 auto
      text-align: center

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar
    width: 12px
    /* auto-expanded scrollbar*/
  .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, .mCSB_draggerContainer:hover .mCSB_draggerRail
    width: 8px
    /* auto-expanded scrollbar*/

.mCSB_scrollTools
  .mCSB_buttonUp
    display: block
    position: absolute
    height: 20px
    width: 100%
    overflow: hidden
    margin: 0 auto
    cursor: pointer
  .mCSB_buttonDown
    display: block
    position: absolute
    height: 20px
    width: 100%
    overflow: hidden
    margin: 0 auto
    cursor: pointer
    bottom: 0

/* 
 *------------------------------------------------------------------------------------------------------------------------
 *3. HORIZONTAL SCROLLBAR 
 *x-axis
 *------------------------------------------------------------------------------------------------------------------------*/

.mCSB_horizontal
  &.mCSB_inside > .mCSB_container
    margin-right: 0
    margin-bottom: 30px
  &.mCSB_outside > .mCSB_container
    min-height: 100%
  > .mCSB_container.mCS_no_scrollbar_x.mCS_x_hidden
    margin-bottom: 0

/* non-visible scrollbar*/

.mCSB_scrollTools.mCSB_scrollTools_horizontal
  width: auto
  height: 16px
  top: auto
  right: 0
  bottom: 0
  left: 0

.mCustomScrollBox + .mCSB_scrollTools
  &.mCSB_scrollTools_horizontal, + .mCSB_scrollTools.mCSB_scrollTools_horizontal
    bottom: -26px

/* scrollbar position: outside*/

.mCSB_scrollTools.mCSB_scrollTools_horizontal
  a + .mCSB_draggerContainer
    margin: 0 20px
  .mCSB_draggerRail
    width: 100%
    height: 2px
    margin: 7px 0
  .mCSB_dragger
    width: 30px
    /* minimum dragger width*/
    height: 100%
    left: 0
    .mCSB_dragger_bar
      width: 100%
      height: 4px
      margin: 6px auto

.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar
    height: 12px
    /* auto-expanded scrollbar*/
    margin: 2px auto
  .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, .mCSB_draggerContainer:hover .mCSB_draggerRail
    height: 8px
    /* auto-expanded scrollbar*/
    margin: 4px 0

.mCSB_scrollTools.mCSB_scrollTools_horizontal
  .mCSB_buttonLeft, .mCSB_buttonRight
    display: block
    position: absolute
    width: 20px
    height: 100%
    overflow: hidden
    margin: 0 auto
    cursor: pointer
  .mCSB_buttonLeft
    left: 0
  .mCSB_buttonRight
    right: 0

/* 
 *------------------------------------------------------------------------------------------------------------------------
 *4. VERTICAL AND HORIZONTAL SCROLLBARS 
 *yx-axis 
 *------------------------------------------------------------------------------------------------------------------------*/

.mCSB_container_wrapper
  position: absolute
  height: auto
  width: auto
  overflow: hidden
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin-right: 30px
  margin-bottom: 30px
  > .mCSB_container
    padding-right: 30px
    padding-bottom: 30px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

.mCSB_vertical_horizontal > .mCSB_scrollTools
  &.mCSB_scrollTools_vertical
    bottom: 20px
  &.mCSB_scrollTools_horizontal
    right: 20px

/* non-visible horizontal scrollbar*/

.mCSB_container_wrapper
  &.mCS_no_scrollbar_x.mCS_x_hidden + .mCSB_scrollTools.mCSB_scrollTools_vertical
    bottom: 0
  &.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal
    right: 0

/* non-visible vertical scrollbar/RTL direction/left-side scrollbar*/

.mCS-dir-rtl >
  .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside >
    .mCSB_scrollTools.mCSB_scrollTools_horizontal
      right: 0
      left: 20px
    .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal
      left: 0
  .mCSB_inside > .mCSB_container_wrapper
    /* RTL direction/left-side scrollbar*/
    margin-right: 0
    margin-left: 30px

/* RTL direction/left-side scrollbar */

/* non-visible scrollbar/RTL direction/left-side scrollbar */

.mCSB_container_wrapper
  &.mCS_no_scrollbar_y.mCS_y_hidden > .mCSB_container
    padding-right: 0
  &.mCS_no_scrollbar_x.mCS_x_hidden > .mCSB_container
    padding-bottom: 0

.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper
  &.mCS_no_scrollbar_y.mCS_y_hidden
    margin-right: 0
    /* non-visible scrollbar*/
    margin-left: 0
  &.mCS_no_scrollbar_x.mCS_x_hidden
    margin-bottom: 0

/* non-visible horizontal scrollbar*/

/* 
 *------------------------------------------------------------------------------------------------------------------------
 *5. TRANSITIONS  
 *------------------------------------------------------------------------------------------------------------------------*/

.mCSB_scrollTools
  -webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out
  -moz-transition: opacity .2s ease-in-out, background-color .2s ease-in-out
  -o-transition: opacity .2s ease-in-out, background-color .2s ease-in-out
  transition: opacity .2s ease-in-out, background-color .2s ease-in-out
  .mCSB_dragger .mCSB_dragger_bar, .mCSB_buttonUp, .mCSB_buttonDown, .mCSB_buttonLeft, .mCSB_buttonRight
    -webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out
    -moz-transition: opacity .2s ease-in-out, background-color .2s ease-in-out
    -o-transition: opacity .2s ease-in-out, background-color .2s ease-in-out
    transition: opacity .2s ease-in-out, background-color .2s ease-in-out

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger_bar, .mCSB_draggerRail
    -webkit-transition: width .2s ease-out .2s, height .2s ease-out .2s,  margin-left .2s ease-out .2s, margin-right .2s ease-out .2s,  margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out
    -moz-transition: width .2s ease-out .2s, height .2s ease-out .2s,  margin-left .2s ease-out .2s, margin-right .2s ease-out .2s,  margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out
    -o-transition: width .2s ease-out .2s, height .2s ease-out .2s,  margin-left .2s ease-out .2s, margin-right .2s ease-out .2s,  margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out
    transition: width .2s ease-out .2s, height .2s ease-out .2s,  margin-left .2s ease-out .2s, margin-right .2s ease-out .2s,  margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out

.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger_bar, .mCSB_draggerRail
    -webkit-transition: width .2s ease-out .2s, height .2s ease-out .2s,  margin-left .2s ease-out .2s, margin-right .2s ease-out .2s,  margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out
    -moz-transition: width .2s ease-out .2s, height .2s ease-out .2s,  margin-left .2s ease-out .2s, margin-right .2s ease-out .2s,  margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out
    -o-transition: width .2s ease-out .2s, height .2s ease-out .2s,  margin-left .2s ease-out .2s, margin-right .2s ease-out .2s,  margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out
    transition: width .2s ease-out .2s, height .2s ease-out .2s,  margin-left .2s ease-out .2s, margin-right .2s ease-out .2s,  margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out

/* 
 *------------------------------------------------------------------------------------------------------------------------
 *6. SCROLLBAR COLORS, OPACITY AND BACKGROUNDS  
 *------------------------------------------------------------------------------------------------------------------------*/

/* 
 *----------------------------------------
 *6.1 THEMES 
 *----------------------------------------*/

/* default theme ("light")*/

.mCSB_scrollTools
  opacity: 1
  filter: "alpha(opacity=75)"
  -ms-filter: "alpha(opacity=75)"

.mCS-autoHide > .mCustomScrollBox
  > .mCSB_scrollTools, ~ .mCSB_scrollTools
    opacity: 0
    filter: "alpha(opacity=0)"
    -ms-filter: "alpha(opacity=0)"

.mCustomScrollbar > .mCustomScrollBox
  > .mCSB_scrollTools.mCSB_scrollTools_onDrag, ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag
    opacity: 1
    filter: "alpha(opacity=100)"
    -ms-filter: "alpha(opacity=100)"

.mCustomScrollBox:hover
  > .mCSB_scrollTools, ~ .mCSB_scrollTools
    opacity: 1
    filter: "alpha(opacity=100)"
    -ms-filter: "alpha(opacity=100)"

.mCS-autoHide:hover > .mCustomScrollBox
  > .mCSB_scrollTools, ~ .mCSB_scrollTools
    opacity: 1
    filter: "alpha(opacity=100)"
    -ms-filter: "alpha(opacity=100)"

.mCSB_scrollTools
  .mCSB_draggerRail
    background-color: #000
    background-color: #e8e8e8
    filter: "alpha(opacity=40)"
    -ms-filter: "alpha(opacity=40)"
  .mCSB_dragger
    .mCSB_dragger_bar
      background-color: #fff
      background-color: #cfcfcf
      filter: "alpha(opacity=75)"
      -ms-filter: "alpha(opacity=75)"
    &:hover .mCSB_dragger_bar
      background-color: #fff
      background-color: #9e9e9e
      filter: "alpha(opacity=85)"
      -ms-filter: "alpha(opacity=85)"
    &:active .mCSB_dragger_bar, &.mCSB_dragger_onDrag .mCSB_dragger_bar
      background-color: #fff
      background-color: #9e9e9e
      filter: "alpha(opacity=90)"
      -ms-filter: "alpha(opacity=90)"
  .mCSB_buttonUp, .mCSB_buttonDown, .mCSB_buttonLeft, .mCSB_buttonRight
    background-image: url(mCSB_buttons.png)
    /* css sprites*/
    width: 29px
    height: 23px
    background: #9e9e9e
    background-repeat: no-repeat
    opacity: 1
    filter: "alpha(opacity=40)"
    -ms-filter: "alpha(opacity=40)"
  .mCSB_buttonUp
    -webkit-border-top-right-radius: 5px
    -moz-border-radius-topright: 5px
    border-top-right-radius: 5px
    &:before
      margin: 8px 9px
      display: block
      content: ' '
      width: 0
      height: 0
      border-style: solid
      border-width: 0 6px 7px 6px
      border-color: transparent transparent #e8e8e8 transparent

    /* 
     *sprites locations 
     *light: 0 0, -16px 0, -32px 0, -48px 0, 0 -72px, -16px -72px, -32px -72px
     *dark: -80px 0, -96px 0, -112px 0, -128px 0, -80px -72px, -96px -72px, -112px -72px*/
  .mCSB_buttonDown
    -webkit-border-bottom-right-radius: 5px
    -moz-border-radius-bottomright: 5px
    border-bottom-right-radius: 5px
    &:before
      margin: 8px 9px
      display: block
      content: ' '
      width: 0
      height: 0
      border-style: solid
      border-width: 7px 6px 0 6px
      border-color: #e8e8e8 transparent transparent transparent 
    /* 
     *sprites locations
     *light: 0 -20px, -16px -20px, -32px -20px, -48px -20px, 0 -92px, -16px -92px, -32px -92px
     *dark: -80px -20px, -96px -20px, -112px -20px, -128px -20px, -80px -92px, -96px -92px, -112 -92px*/
  .mCSB_buttonLeft
    background-position: 0 -40px
    /* 
     *sprites locations 
     *light: 0 -40px, -20px -40px, -40px -40px, -60px -40px, 0 -112px, -20px -112px, -40px -112px
     *dark: -80px -40px, -100px -40px, -120px -40px, -140px -40px, -80px -112px, -100px -112px, -120px -112px*/
  .mCSB_buttonRight
    background-position: 0 -56px
    /* 
     *sprites locations 
     *light: 0 -56px, -20px -56px, -40px -56px, -60px -56px, 0 -128px, -20px -128px, -40px -128px
     *dark: -80px -56px, -100px -56px, -120px -56px, -140px -56px, -80px -128px, -100px -128px, -120px -128px*/
  .mCSB_buttonUp:hover, .mCSB_buttonDown:hover, .mCSB_buttonLeft:hover, .mCSB_buttonRight:hover
    opacity: 0.4
  .mCSB_buttonUp:active, .mCSB_buttonDown:active, .mCSB_buttonLeft:active, .mCSB_buttonRight:active
    opacity: 0.4

/* theme: "dark"*/

.mCS-dark.mCSB_scrollTools
  .mCSB_draggerRail
    background-color: #000
    background-color: rgba(0, 0, 0, 0.15)
  .mCSB_dragger
    .mCSB_dragger_bar
      background-color: #000
      background-color: #c0bfbf
    &:hover .mCSB_dragger_bar
      background-color: #c0bfbf
    &:active .mCSB_dragger_bar, &.mCSB_dragger_onDrag .mCSB_dragger_bar
      background-color: #c0bfbf
  .mCSB_buttonUp
    background-position: -80px 0
  .mCSB_buttonDown
    background-position: -80px -20px
  .mCSB_buttonLeft
    background-position: -80px -40px
  .mCSB_buttonRight
    background-position: -80px -56px

/* ----------------------------------------*/

/* theme: "light-2", "dark-2"*/

.mCS-light-2.mCSB_scrollTools .mCSB_draggerRail, .mCS-dark-2.mCSB_scrollTools .mCSB_draggerRail
  width: 4px
  background-color: #fff
  background-color: rgba(255, 255, 255, 0.1)
  -webkit-border-radius: 1px
  -moz-border-radius: 1px
  border-radius: 1px

.mCS-light-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
  width: 4px
  background-color: #fff
  background-color: #cfcfcf
  -webkit-border-radius: 1px
  -moz-border-radius: 1px
  border-radius: 1px

.mCS-light-2.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-dark-2.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-light-2.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-2.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar
  width: 100%
  height: 4px
  margin: 6px auto

.mCS-light-2.mCSB_scrollTools
  .mCSB_dragger
    &:hover .mCSB_dragger_bar
      background-color: #fff
      background-color: rgba(255, 255, 255, 0.85)
    &:active .mCSB_dragger_bar, &.mCSB_dragger_onDrag .mCSB_dragger_bar
      background-color: #fff
      background-color: rgba(255, 255, 255, 0.9)
  .mCSB_buttonUp
    background-position: -32px 0
  .mCSB_buttonDown
    background-position: -32px -20px
  .mCSB_buttonLeft
    background-position: -40px -40px
  .mCSB_buttonRight
    background-position: -40px -56px

/* theme: "dark-2"*/

.mCS-dark-2.mCSB_scrollTools
  .mCSB_draggerRail
    background-color: #000
    background-color: rgba(0, 0, 0, 0.1)
    -webkit-border-radius: 1px
    -moz-border-radius: 1px
    border-radius: 1px
  .mCSB_dragger
    .mCSB_dragger_bar
      background-color: #000
      background-color: rgba(0, 0, 0, 0.75)
      -webkit-border-radius: 1px
      -moz-border-radius: 1px
      border-radius: 1px
    &:hover .mCSB_dragger_bar
      background-color: #000
      background-color: rgba(0, 0, 0, 0.85)
    &:active .mCSB_dragger_bar, &.mCSB_dragger_onDrag .mCSB_dragger_bar
      background-color: #000
      background-color: rgba(0, 0, 0, 0.9)
  .mCSB_buttonUp
    background-position: -112px 0
  .mCSB_buttonDown
    background-position: -112px -20px
  .mCSB_buttonLeft
    background-position: -120px -40px
  .mCSB_buttonRight
    background-position: -120px -56px

/* ----------------------------------------*/

/* theme: "light-thick", "dark-thick"*/

.mCS-light-thick.mCSB_scrollTools .mCSB_draggerRail, .mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail
  width: 4px
  background-color: #fff
  background-color: rgba(255, 255, 255, 0.1)
  -webkit-border-radius: 2px
  -moz-border-radius: 2px
  border-radius: 2px

.mCS-light-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
  width: 6px
  background-color: #fff
  background-color: #cfcfcf
  -webkit-border-radius: 2px
  -moz-border-radius: 2px
  border-radius: 2px

.mCS-light-thick.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-dark-thick.mCSB_scrollTools_horizontal .mCSB_draggerRail
  width: 100%
  height: 4px
  margin: 6px 0

.mCS-light-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar
  width: 100%
  height: 6px
  margin: 5px auto

.mCS-light-thick.mCSB_scrollTools
  .mCSB_dragger
    &:active .mCSB_dragger_bar, &.mCSB_dragger_onDrag .mCSB_dragger_bar
      background-color: #fff
      background-color: rgba(255, 255, 255, 0.9)
  .mCSB_buttonUp
    background-position: -16px 0
  .mCSB_buttonDown
    background-position: -16px -20px
  .mCSB_buttonLeft
    background-position: -20px -40px
  .mCSB_buttonRight
    background-position: -20px -56px

/* theme: "dark-thick"*/

.mCS-dark-thick.mCSB_scrollTools
  .mCSB_draggerRail
    background-color: #000
    background-color: rgba(0, 0, 0, 0.1)
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px
  .mCSB_dragger
    .mCSB_dragger_bar
      background-color: #000
      background-color: rgba(0, 0, 0, 0.75)
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
    &:hover .mCSB_dragger_bar
      background-color: #000
      background-color: #c0bfbf
    &:active .mCSB_dragger_bar, &.mCSB_dragger_onDrag .mCSB_dragger_bar
      background-color: #000
      background-color: #c0bfbf
  .mCSB_buttonUp
    background-position: -96px 0
  .mCSB_buttonDown
    background-position: -96px -20px
  .mCSB_buttonLeft
    background-position: -100px -40px
  .mCSB_buttonRight
    background-position: -100px -56px

/* ----------------------------------------*/

/* theme: "light-thin", "dark-thin"*/

.mCS-light-thin.mCSB_scrollTools
  .mCSB_draggerRail
    background-color: #fff
    background-color: rgba(255, 255, 255, 0.1)
  .mCSB_dragger .mCSB_dragger_bar
    width: 2px

.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
  width: 2px

.mCS-light-thin.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-dark-thin.mCSB_scrollTools_horizontal .mCSB_draggerRail
  width: 100%

.mCS-light-thin.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar
  width: 100%
  height: 2px
  margin: 7px auto

.mCS-dark-thin
  &.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar
    width: 100%
    height: 2px
    margin: 7px auto
  &.mCSB_scrollTools
    .mCSB_draggerRail
      background-color: #000
      background-color: rgba(0, 0, 0, 0.15)
    .mCSB_dragger
      .mCSB_dragger_bar
        background-color: #000
        background-color: rgba(0, 0, 0, 0.75)
      &:hover .mCSB_dragger_bar
        background-color: #000
        background-color: rgba(0, 0, 0, 0.85)
      &:active .mCSB_dragger_bar, &.mCSB_dragger_onDrag .mCSB_dragger_bar
        background-color: #000
        background-color: rgba(0, 0, 0, 0.9)
    .mCSB_buttonUp
      background-position: -80px 0
    .mCSB_buttonDown
      background-position: -80px -20px
    .mCSB_buttonLeft
      background-position: -80px -40px
    .mCSB_buttonRight
      background-position: -80px -56px

/* theme "dark-thin"*/

/* ----------------------------------------*/

/* theme "rounded", "rounded-dark", "rounded-dots", "rounded-dots-dark"*/

.mCS-rounded.mCSB_scrollTools
  .mCSB_draggerRail
    background-color: #fff
    background-color: rgba(255, 255, 255, 0.15)
  .mCSB_dragger
    height: 14px

.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger, .mCS-rounded-dots.mCSB_scrollTools .mCSB_dragger, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger
  height: 14px

.mCS-rounded.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dots.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
  width: 14px
  margin: 0 1px

.mCS-rounded.mCSB_scrollTools_horizontal .mCSB_dragger, .mCS-rounded-dark.mCSB_scrollTools_horizontal .mCSB_dragger, .mCS-rounded-dots.mCSB_scrollTools_horizontal .mCSB_dragger, .mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_dragger
  width: 14px

.mCS-rounded.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dots.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar
  height: 14px
  margin: 1px 0

.mCS-rounded.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar
    width: 16px
    /* auto-expanded scrollbar*/
    height: 16px
    margin: -1px 0

.mCS-rounded-dark.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar
    width: 16px
    /* auto-expanded scrollbar*/
    height: 16px
    margin: -1px 0

.mCS-rounded.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, .mCSB_draggerContainer:hover .mCSB_draggerRail
    width: 4px
    /* auto-expanded scrollbar*/

.mCS-rounded-dark.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, .mCSB_draggerContainer:hover .mCSB_draggerRail
    width: 4px
    /* auto-expanded scrollbar*/

.mCS-rounded.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar
    height: 16px
    /* auto-expanded scrollbar*/
    width: 16px
    margin: 0 -1px

.mCS-rounded-dark.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar
    height: 16px
    /* auto-expanded scrollbar*/
    width: 16px
    margin: 0 -1px

.mCS-rounded.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, .mCSB_draggerContainer:hover .mCSB_draggerRail
    height: 4px
    /* auto-expanded scrollbar*/
    margin: 6px 0

.mCS-rounded-dark.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, .mCSB_draggerContainer:hover .mCSB_draggerRail
    height: 4px
    /* auto-expanded scrollbar*/
    margin: 6px 0

.mCS-rounded.mCSB_scrollTools
  .mCSB_buttonUp
    background-position: 0 -72px
  .mCSB_buttonDown
    background-position: 0 -92px
  .mCSB_buttonLeft
    background-position: 0 -112px
  .mCSB_buttonRight
    background-position: 0 -128px

/* theme "rounded-dark", "rounded-dots-dark"*/

.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
  background-color: #000
  background-color: rgba(0, 0, 0, 0.75)

.mCS-rounded-dark.mCSB_scrollTools
  .mCSB_draggerRail
    background-color: #000
    background-color: rgba(0, 0, 0, 0.15)
  .mCSB_dragger:hover .mCSB_dragger_bar
    background-color: #000
    background-color: rgba(0, 0, 0, 0.85)

.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar
  background-color: #000
  background-color: rgba(0, 0, 0, 0.85)

.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger
  &:active .mCSB_dragger_bar, &.mCSB_dragger_onDrag .mCSB_dragger_bar
    background-color: #000
    background-color: rgba(0, 0, 0, 0.9)

.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger
  &:active .mCSB_dragger_bar, &.mCSB_dragger_onDrag .mCSB_dragger_bar
    background-color: #000
    background-color: rgba(0, 0, 0, 0.9)

.mCS-rounded-dark.mCSB_scrollTools
  .mCSB_buttonUp
    background-position: -80px -72px
  .mCSB_buttonDown
    background-position: -80px -92px
  .mCSB_buttonLeft
    background-position: -80px -112px
  .mCSB_buttonRight
    background-position: -80px -128px

/* theme "rounded-dots", "rounded-dots-dark"*/

.mCS-rounded-dots.mCSB_scrollTools_vertical .mCSB_draggerRail, .mCS-rounded-dots-dark.mCSB_scrollTools_vertical .mCSB_draggerRail
  width: 4px

.mCS-rounded-dots.mCSB_scrollTools .mCSB_draggerRail, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_draggerRail, .mCS-rounded-dots.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail
  background-color: transparent
  background-position: center

.mCS-rounded-dots.mCSB_scrollTools .mCSB_draggerRail, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_draggerRail
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAANElEQVQYV2NkIAAYiVbw//9/Y6DiM1ANJoyMjGdBbLgJQAX/kU0DKgDLkaQAvxW4HEvQFwCRcxIJK1XznAAAAABJRU5ErkJggg==")
  background-repeat: repeat-y
  opacity: 0.3
  filter: "alpha(opacity=30)"
  -ms-filter: "alpha(opacity=30)"

.mCS-rounded-dots.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail
  height: 4px
  margin: 6px 0
  background-repeat: repeat-x

.mCS-rounded-dots.mCSB_scrollTools
  .mCSB_buttonUp
    background-position: -16px -72px
  .mCSB_buttonDown
    background-position: -16px -92px
  .mCSB_buttonLeft
    background-position: -20px -112px
  .mCSB_buttonRight
    background-position: -20px -128px

/* theme "rounded-dots-dark"*/

.mCS-rounded-dots-dark.mCSB_scrollTools
  .mCSB_draggerRail
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAALElEQVQYV2NkIAAYSVFgDFR8BqrBBEifBbGRTfiPZhpYjiQFBK3A6l6CvgAAE9kGCd1mvgEAAAAASUVORK5CYII=")
  .mCSB_buttonUp
    background-position: -96px -72px
  .mCSB_buttonDown
    background-position: -96px -92px
  .mCSB_buttonLeft
    background-position: -100px -112px
  .mCSB_buttonRight
    background-position: -100px -128px

/* ----------------------------------------*/

/* theme "3d", "3d-dark", "3d-thick", "3d-thick-dark"*/

.mCS-3d.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
  background-repeat: repeat-y
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%)
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)))
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%)
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%)
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%)
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%)

.mCS-3d.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-thick-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar
  background-repeat: repeat-x
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%)
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)))
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%)
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%)
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%)
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%)

/* theme "3d", "3d-dark"*/

.mCS-3d.mCSB_scrollTools_vertical .mCSB_dragger, .mCS-3d-dark.mCSB_scrollTools_vertical .mCSB_dragger
  height: 70px

.mCS-3d.mCSB_scrollTools_horizontal .mCSB_dragger, .mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_dragger
  width: 70px

.mCS-3d.mCSB_scrollTools, .mCS-3d-dark.mCSB_scrollTools
  opacity: 1
  filter: "alpha(opacity=30)"
  -ms-filter: "alpha(opacity=30)"

.mCS-3d.mCSB_scrollTools
  .mCSB_draggerRail, .mCSB_dragger .mCSB_dragger_bar
    -webkit-border-radius: 16px
    -moz-border-radius: 16px
    border-radius: 16px

.mCS-3d-dark.mCSB_scrollTools
  .mCSB_draggerRail, .mCSB_dragger .mCSB_dragger_bar
    -webkit-border-radius: 16px
    -moz-border-radius: 16px
    border-radius: 16px

.mCS-3d.mCSB_scrollTools .mCSB_draggerRail, .mCS-3d-dark.mCSB_scrollTools .mCSB_draggerRail
  width: 8px
  background-color: #000
  background-color: rgba(0, 0, 0, 0.2)
  box-shadow: inset 1px 0 1px rgba(0, 0, 0, 0.5), inset -1px 0 1px rgba(255, 255, 255, 0.2)

.mCS-3d.mCSB_scrollTools .mCSB_dragger
  .mCSB_dragger_bar, &:hover .mCSB_dragger_bar, &:active .mCSB_dragger_bar, &.mCSB_dragger_onDrag .mCSB_dragger_bar
    background-color: #555

.mCS-3d-dark.mCSB_scrollTools .mCSB_dragger
  .mCSB_dragger_bar, &:hover .mCSB_dragger_bar, &:active .mCSB_dragger_bar, &.mCSB_dragger_onDrag .mCSB_dragger_bar
    background-color: #555

.mCS-3d.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
  width: 8px

.mCS-3d.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail
  width: 100%
  height: 8px
  margin: 4px 0
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 -1px 1px rgba(255, 255, 255, 0.2)

.mCS-3d.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar
  width: 100%
  height: 8px
  margin: 4px auto

.mCS-3d.mCSB_scrollTools
  .mCSB_buttonUp
    background-position: -32px -72px
  .mCSB_buttonDown
    background-position: -32px -92px
  .mCSB_buttonLeft
    background-position: -40px -112px
  .mCSB_buttonRight
    background-position: -40px -128px

/* theme "3d-dark"*/

.mCS-3d-dark
  &.mCSB_scrollTools .mCSB_draggerRail
    background-color: #000
    background-color: rgba(0, 0, 0, 0.1)
    box-shadow: inset 1px 0 1px rgba(0, 0, 0, 0.1)
  &.mCSB_scrollTools_horizontal .mCSB_draggerRail
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1)
  &.mCSB_scrollTools
    .mCSB_buttonUp
      background-position: -112px -72px
    .mCSB_buttonDown
      background-position: -112px -92px
    .mCSB_buttonLeft
      background-position: -120px -112px
    .mCSB_buttonRight
      background-position: -120px -128px

/* ----------------------------------------*/

/* theme: "3d-thick", "3d-thick-dark"*/

.mCS-3d-thick.mCSB_scrollTools, .mCS-3d-thick-dark.mCSB_scrollTools
  opacity: 1
  filter: "alpha(opacity=30)"
  -ms-filter: "alpha(opacity=30)"

.mCS-3d-thick.mCSB_scrollTools, .mCS-3d-thick-dark.mCSB_scrollTools, .mCS-3d-thick.mCSB_scrollTools .mCSB_draggerContainer, .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_draggerContainer
  -webkit-border-radius: 7px
  -moz-border-radius: 7px
  border-radius: 7px

.mCS-3d-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px

.mCSB_inside +
  .mCS-3d-thick.mCSB_scrollTools_vertical, .mCS-3d-thick-dark.mCSB_scrollTools_vertical
    right: 1px

.mCS-3d-thick.mCSB_scrollTools_vertical, .mCS-3d-thick-dark.mCSB_scrollTools_vertical
  box-shadow: inset 1px 0 1px rgba(0, 0, 0, 0.1), inset 0 0 14px rgba(0, 0, 0, 0.5)

.mCS-3d-thick.mCSB_scrollTools_horizontal, .mCS-3d-thick-dark.mCSB_scrollTools_horizontal
  bottom: 1px
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 14px rgba(0, 0, 0, 0.5)

.mCS-3d-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.4)
  width: 12px
  margin: 2px
  position: absolute
  height: auto
  top: 0
  bottom: 0
  left: 0
  right: 0

.mCS-3d-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-thick-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4)

.mCS-3d-thick
  &.mCSB_scrollTools .mCSB_dragger
    .mCSB_dragger_bar, &:hover .mCSB_dragger_bar, &:active .mCSB_dragger_bar, &.mCSB_dragger_onDrag .mCSB_dragger_bar
      background-color: #555
  &.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar
    height: 12px
    width: auto

.mCS-3d-thick-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar
  height: 12px
  width: auto

.mCS-3d-thick.mCSB_scrollTools
  .mCSB_draggerContainer
    background-color: #000
    background-color: rgba(0, 0, 0, 0.05)
    box-shadow: inset 1px 1px 16px rgba(0, 0, 0, 0.1)
  .mCSB_draggerRail
    background-color: transparent
  .mCSB_buttonUp
    background-position: -32px -72px
  .mCSB_buttonDown
    background-position: -32px -92px
  .mCSB_buttonLeft
    background-position: -40px -112px
  .mCSB_buttonRight
    background-position: -40px -128px

/* theme: "3d-thick-dark"*/

.mCS-3d-thick-dark
  &.mCSB_scrollTools
    box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.2)
  &.mCSB_scrollTools_horizontal
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 14px rgba(0, 0, 0, 0.2)
  &.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.4), inset -1px 0 0 rgba(0, 0, 0, 0.2)
  &.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 0 -1px 0 rgba(0, 0, 0, 0.2)
  &.mCSB_scrollTools
    .mCSB_dragger
      .mCSB_dragger_bar, &:hover .mCSB_dragger_bar, &:active .mCSB_dragger_bar, &.mCSB_dragger_onDrag .mCSB_dragger_bar
        background-color: #777
    .mCSB_draggerContainer
      background-color: #fff
      background-color: rgba(0, 0, 0, 0.05)
      box-shadow: inset 1px 1px 16px rgba(0, 0, 0, 0.1)
    .mCSB_draggerRail
      background-color: transparent
    .mCSB_buttonUp
      background-position: -112px -72px
    .mCSB_buttonDown
      background-position: -112px -92px
    .mCSB_buttonLeft
      background-position: -120px -112px
    .mCSB_buttonRight
      background-position: -120px -128px

/* ----------------------------------------*/

/* theme: "minimal", "minimal-dark"*/

.mCSB_outside +
  .mCS-minimal.mCSB_scrollTools_vertical, .mCS-minimal-dark.mCSB_scrollTools_vertical
    right: 0
    margin: 12px 0

.mCustomScrollBox
  &.mCS-minimal + .mCSB_scrollTools
    &.mCSB_scrollTools_horizontal, + .mCSB_scrollTools.mCSB_scrollTools_horizontal
      bottom: 0
      margin: 0 12px
  &.mCS-minimal-dark + .mCSB_scrollTools
    &.mCSB_scrollTools_horizontal, + .mCSB_scrollTools.mCSB_scrollTools_horizontal
      bottom: 0
      margin: 0 12px

/* RTL direction/left-side scrollbar*/

.mCS-dir-rtl > .mCSB_outside +
  .mCS-minimal.mCSB_scrollTools_vertical, .mCS-minimal-dark.mCSB_scrollTools_vertical
    left: 0
    right: auto

.mCS-minimal.mCSB_scrollTools .mCSB_draggerRail, .mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail
  background-color: transparent

.mCS-minimal.mCSB_scrollTools_vertical .mCSB_dragger, .mCS-minimal-dark.mCSB_scrollTools_vertical .mCSB_dragger
  height: 50px

.mCS-minimal.mCSB_scrollTools_horizontal .mCSB_dragger, .mCS-minimal-dark.mCSB_scrollTools_horizontal .mCSB_dragger
  width: 50px

.mCS-minimal.mCSB_scrollTools .mCSB_dragger
  .mCSB_dragger_bar
    background-color: #fff
    background-color: rgba(255, 255, 255, 0.2)
    filter: "alpha(opacity=20)"
    -ms-filter: "alpha(opacity=20)"
  &:active .mCSB_dragger_bar, &.mCSB_dragger_onDrag .mCSB_dragger_bar
    background-color: #fff
    background-color: rgba(255, 255, 255, 0.5)
    filter: "alpha(opacity=50)"
    -ms-filter: "alpha(opacity=50)"

/* theme: "minimal-dark"*/

.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger
  .mCSB_dragger_bar
    background-color: #000
    background-color: rgba(0, 0, 0, 0.2)
    filter: "alpha(opacity=20)"
    -ms-filter: "alpha(opacity=20)"
  &:active .mCSB_dragger_bar, &.mCSB_dragger_onDrag .mCSB_dragger_bar
    background-color: #000
    background-color: rgba(0, 0, 0, 0.5)
    filter: "alpha(opacity=50)"
    -ms-filter: "alpha(opacity=50)"

/* ----------------------------------------*/

/* theme "light-3", "dark-3"*/

.mCS-light-3.mCSB_scrollTools .mCSB_draggerRail, .mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail
  width: 6px
  background-color: #000
  background-color: rgba(0, 0, 0, 0.2)

.mCS-light-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
  width: 6px

.mCS-light-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-light-3.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-dark-3.mCSB_scrollTools_horizontal .mCSB_draggerRail
  width: 100%
  height: 6px
  margin: 5px 0

.mCS-light-3.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, .mCSB_draggerContainer:hover .mCSB_draggerRail
    width: 12px

.mCS-dark-3.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, .mCSB_draggerContainer:hover .mCSB_draggerRail
    width: 12px

.mCS-light-3.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, .mCSB_draggerContainer:hover .mCSB_draggerRail
    height: 12px
    margin: 2px 0

.mCS-dark-3.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, .mCSB_draggerContainer:hover .mCSB_draggerRail
    height: 12px
    margin: 2px 0

.mCS-light-3.mCSB_scrollTools
  .mCSB_buttonUp
    background-position: -32px -72px
  .mCSB_buttonDown
    background-position: -32px -92px
  .mCSB_buttonLeft
    background-position: -40px -112px
  .mCSB_buttonRight
    background-position: -40px -128px

/* theme "dark-3"*/

.mCS-dark-3.mCSB_scrollTools
  .mCSB_dragger
    .mCSB_dragger_bar
      background-color: #000
      background-color: rgba(0, 0, 0, 0.75)
    &:hover .mCSB_dragger_bar
      background-color: #000
      background-color: rgba(0, 0, 0, 0.85)
    &:active .mCSB_dragger_bar, &.mCSB_dragger_onDrag .mCSB_dragger_bar
      background-color: #000
      background-color: rgba(0, 0, 0, 0.9)
  .mCSB_draggerRail
    background-color: #000
    background-color: rgba(0, 0, 0, 0.1)
  .mCSB_buttonUp
    background-position: -112px -72px
  .mCSB_buttonDown
    background-position: -112px -92px
  .mCSB_buttonLeft
    background-position: -120px -112px
  .mCSB_buttonRight
    background-position: -120px -128px

/* ----------------------------------------*/

/* theme "inset", "inset-dark", "inset-2", "inset-2-dark", "inset-3", "inset-3-dark"*/

.mCS-inset.mCSB_scrollTools .mCSB_draggerRail, .mCS-inset-dark.mCSB_scrollTools .mCSB_draggerRail, .mCS-inset-2.mCSB_scrollTools .mCSB_draggerRail, .mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail, .mCS-inset-3.mCSB_scrollTools .mCSB_draggerRail, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_draggerRail
  width: 12px
  background-color: #000
  background-color: rgba(0, 0, 0, 0.2)

.mCS-inset.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
  width: 6px
  margin: 3px 5px
  position: absolute
  height: auto
  top: 0
  bottom: 0
  left: 0
  right: 0

.mCS-inset.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-2.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-2-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-3-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar
  height: 6px
  margin: 5px 3px
  position: absolute
  width: auto
  top: 0
  bottom: 0
  left: 0
  right: 0

.mCS-inset.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-inset-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-inset-2.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-inset-2-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-inset-3.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-inset-3-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail
  width: 100%
  height: 12px
  margin: 2px 0

.mCS-inset.mCSB_scrollTools .mCSB_buttonUp, .mCS-inset-2.mCSB_scrollTools .mCSB_buttonUp, .mCS-inset-3.mCSB_scrollTools .mCSB_buttonUp
  background-position: -32px -72px

.mCS-inset.mCSB_scrollTools .mCSB_buttonDown, .mCS-inset-2.mCSB_scrollTools .mCSB_buttonDown, .mCS-inset-3.mCSB_scrollTools .mCSB_buttonDown
  background-position: -32px -92px

.mCS-inset.mCSB_scrollTools .mCSB_buttonLeft, .mCS-inset-2.mCSB_scrollTools .mCSB_buttonLeft, .mCS-inset-3.mCSB_scrollTools .mCSB_buttonLeft
  background-position: -40px -112px

.mCS-inset.mCSB_scrollTools .mCSB_buttonRight, .mCS-inset-2.mCSB_scrollTools .mCSB_buttonRight, .mCS-inset-3.mCSB_scrollTools .mCSB_buttonRight
  background-position: -40px -128px

/* theme "inset-dark", "inset-2-dark", "inset-3-dark"*/

.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
  background-color: #000
  background-color: rgba(0, 0, 0, 0.75)

.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, .mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar
  background-color: #000
  background-color: rgba(0, 0, 0, 0.85)

.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger
  &:active .mCSB_dragger_bar, &.mCSB_dragger_onDrag .mCSB_dragger_bar
    background-color: #000
    background-color: rgba(0, 0, 0, 0.9)

.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger
  &:active .mCSB_dragger_bar, &.mCSB_dragger_onDrag .mCSB_dragger_bar
    background-color: #000
    background-color: rgba(0, 0, 0, 0.9)

.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger
  &:active .mCSB_dragger_bar, &.mCSB_dragger_onDrag .mCSB_dragger_bar
    background-color: #000
    background-color: rgba(0, 0, 0, 0.9)

.mCS-inset-dark.mCSB_scrollTools .mCSB_draggerRail, .mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_draggerRail
  background-color: #000
  background-color: rgba(0, 0, 0, 0.1)

.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonUp, .mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonUp, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonUp
  background-position: -112px -72px

.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonDown, .mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonDown, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonDown
  background-position: -112px -92px

.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonLeft, .mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonLeft, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonLeft
  background-position: -120px -112px

.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonRight, .mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonRight, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonRight
  background-position: -120px -128px

/* theme "inset-2", "inset-2-dark"*/

.mCS-inset-2.mCSB_scrollTools .mCSB_draggerRail
  background-color: transparent
  border-width: 1px
  border-style: solid
  border-color: #fff
  border-color: rgba(255, 255, 255, 0.2)
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail
  background-color: transparent
  border-width: 1px
  border-style: solid
  border-color: #fff
  border-color: rgba(255, 255, 255, 0.2)
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  border-color: #000
  border-color: rgba(0, 0, 0, 0.2)

/* theme "inset-3", "inset-3-dark"*/

.mCS-inset-3.mCSB_scrollTools .mCSB_draggerRail
  background-color: #fff
  background-color: rgba(255, 255, 255, 0.6)

.mCS-inset-3-dark.mCSB_scrollTools .mCSB_draggerRail
  background-color: #000
  background-color: rgba(0, 0, 0, 0.6)

.mCS-inset-3.mCSB_scrollTools .mCSB_dragger
  .mCSB_dragger_bar
    background-color: #000
    background-color: #c9c9c9
  &:hover .mCSB_dragger_bar
    background-color: #000
    background-color: #c9c9c9
  &:active .mCSB_dragger_bar, &.mCSB_dragger_onDrag .mCSB_dragger_bar
    background-color: #000
    background-color: #c9c9c9

.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger
  .mCSB_dragger_bar
    background-color: #fff
    background-color: #cfcfcf
  &:hover .mCSB_dragger_bar
    background-color: #fff
    background-color: #c9c9c9
  &:active .mCSB_dragger_bar, &.mCSB_dragger_onDrag .mCSB_dragger_bar
    background-color: #fff
    background-color: #c9c9c9

/* ----------------------------------------*/

@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400"



.vertical-center
  display: table
  width: 100%
  height: 100%
  .vertical-center-inner
    display: table-cell
    vertical-align: middle
    text-align: center

input
  &[type='text'], &[type='password']
    width: 100%
    border: none
    border-bottom: 1px solid #0ba54b
    background-color: transparent
    color: #0ba54b
    font-family: 'Open Sans'
    font-size: 18px
    font-weight: 300
    padding: 5px 10px

label
  padding: 5px 0
  font-size: 18px

.button
  display: inline-block
  border: none
  background-color: #0ba54b
  color: #fff
  text-transform: uppercase
  text-align: center
  padding: 10px 24px
  border-radius: 100px
  cursor: pointer
  -webkit-transition: 200ms background-color
  transition: 200ms background-color
  &:hover
    background-color: #09843c

.form-field
  overflow: hidden
  margin-bottom: 25px
  .form-label
    width: 25%
    float: left
    text-align: right
    padding: 5px 10px 5px 0
    label
      color: #0ba54b
  .form-input
    width: 75%
    float: left

.action-links
  list-style: none
  margin: 15px 0 0
  padding: 0
  li
    display: block
    margin: 5px 0
    a
      display: inline-block

.social-connect
  ul
    list-style: none
    margin: 0
    padding: 0
    li
      display: inline-block
      a
        display: block
        font-size: 22px
        color: rgba(11, 165, 75, 0.3)
        &:hover
          color: #0ba54b
  p
    display: block
    position: relative
    font-size: 20px
    color: #0ba54b
    border-bottom: 1px solid #0ba54b
    line-height: 0.3
    margin-top: 10px
    span
      padding: 0 5px
      background-color: #f3f3f3

.register-form
  width: 100%
  max-width: 430px
  margin: auto
  form
    margin-top: 50px

.login-form
  width: 100%
  max-width: 320px
  margin: auto
  form
    margin-top: 50px
    .form-input
      position: relative
      width: 100%
      float: none
      input
        padding: 10px 45px 10px 10px
      span
        display: block
        position: absolute
        top: 50%
        -webkit-transform: translateY(-50%)
        transform: translateY(-50%)
        right: 10px
        color: #0ba54b
        font-size: 11px
        border-radius: 100px
        border: 2px solid #0ba54b
        padding: 2px

@media (max-width: 420px)
  .form-field
    .form-label
      width: 100%
      float: none
      text-align: left
      padding-right: 0
    .form-input
      width: 100%
      float: none

.slider-price
  margin: 0 0 20px

.ui-helper-hidden
  isplay: none

.ui-helper-hidden-accessible
  osition: absolute !important
  clip: rect(1px 1px 1px 1px)
  clip: rect(1px,1px,1px,1px)

.ui-helper-reset
  margin: 0
  padding: 0
  border: 0
  outline: 0
  line-height: 1.3
  text-decoration: none
  font-size: 100%
  list-style: none

.ui-helper-clearfix:before,
.ui-helper-clearfix:after
  content: ""
  display: table

.ui-helper-clearfix:after
  clear: both

.ui-helper-clearfix
  zoom: 1

.ui-helper-zfix
  width: 100%
  height: 100%
  top: 0
  left: 0
  position: absolute
  opacity: 0

.ui-state-disabled
  cursor: default !important

.ui-widget-overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.ui-widget-content
  border: 1px solid #aaaaaa
  background: #fef8f0

.ui-widget-header
  border: 1px solid #fff0f0
  background: #ccc

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default
  border: 1px solid #89d0f4
  background: #2e98ce

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
  border: 1px solid #fdac24
  background: #fdc669
  font-weight: normal
  color: #212121

.ui-widget :active
  outline: none

.ui-slider
  position: relative
  text-align: left
  margin: 15px 0

.ui-slider .ui-slider-handle
  position: absolute
  z-index: 2
  width: 20px
  height: 20px
  cursor: default

.ui-slider .ui-slider-range
  position: absolute
  z-index: 1
  display: block
  border: 0
  background-position: 0 0

.ui-slider-horizontal
  height: 5px

.ui-slider-horizontal .ui-slider-handle
  top: -10px
  margin-left: -10px

.ui-slider-horizontal .ui-slider-range
  top: 0
  height: 100%

.ui-slider-horizontal .ui-slider-range-min
  left: 0

.ui-slider-horizontal .ui-slider-range-max
  right: 0

// SING FORM 

/* sprite */

.icon, .cart > a:before
  display: block
  background-size: cover

.icon-FB
  background: url('../images/facebook.png') 0 0 no-repeat
  background-size: cover
  width: 21px
  height: 21px

.icon-FB-b
  width: 51px
  height: 51px
  background-position: -66px -15px

.icon-IG
  width: 51px
  height: 51px
  background-position: -15px -96px

.icon-cart, .cart > a:before
  width: 19px
  height: 19px
  background-position: -147px -15px

.icon-LinkedIn
  width: 20px
  height: 19px
  background: url('../images/linked-in.png') 0 0 no-repeat
  background-size: cover

.icon-LinkedIn-b
  width: 48px
  height: 46px
  background-position: -96px -113px

.icon-Pintrest
  width: 21px
  height: 22px
  background: url('../images/pintrest.png') 0 0 no-repeat
  background-size: cover

.icon-Pintrest-b
  width: 52px
  height: 52px
  background-position: -197px -15px

.icon-TW-b
  width: 43px
  height: 36px
  background-position: -225px -97px

.icon-phone
  width: 7px
  height: 9px
  background-position: -225px -163px

.icon-google
  width: 22px
  height: 22px
  background: url('../images/google.png') 0 0 no-repeat

/* placeholder style*/

\::-webkit-input-placeholder
  /* Chrome/Opera/Safari*/
  color: #a3a2a2
  text-transform: uppercase

\::-moz-placeholder
  /* Firefox 19+*/
  color: #a3a2a2
  text-transform: uppercase

\:-ms-input-placeholder
  /* IE 10+*/
  color: #a3a2a2
  text-transform: uppercase

\:-moz-placeholder
  /* Firefox 18-*/
  color: #a3a2a2
  text-transform: uppercase

/* header*/

.navbar
  background: #fff
  border: 0
  margin-bottom: 10px

@media all and (min-width: 767px)
  .navbar-nav > li > a
    line-height: 20px
    font-size: 11px
    text-transform: uppercase
    color: #000 !important
    padding: 30px 30px 6px
    -webkit-transition: all .3s
    transition: all .3s
    &:hover, &:focus
      background: #fbfbfb !important
      color: #404040 !important

.main-logo
  padding: 0
  margin-left: 0 !important
  position: relative
  height: 56px
  margin-right: 20px
  img
    display: inline-block
    position: relative
    top: 54%
    -webkit-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    transform: translateY(-50%)

.navbar-default .navbar-nav > .active > a
  background: #fbfbfb
  &:focus, &:hover
    background: #fbfbfb

.header-search
  margin-top: 22px
  margin-bottom: 0
  margin-right: 20px !important
  position: relative
  padding-right: 0
  label
    font-weight: 400
    font-size: 11px
    vertical-align: bottom
    margin-right: 8px
  input
    border-color: #cfcfcf
    border-width: 0 0 1px 0
    border-radius: 0
    box-shadow: none
    padding-right: 35px
    padding-left: 5px
    &:focus
      border-color: #07a550
      box-shadow: none
  button
    border: 0
    background: transparent
    box-shadow: none
    color: #cfcfcf
    padding-right: 4px
    padding-left: 4px
    border-radius: 0
    outline: 0  !important
    position: absolute
    right: 0
    top: 0
    &:hover, &:focus, &:active
      background-color: transparent
      border: 0

.cart > a
  position: relative
  padding-left: 50px !important
  &:before
    content: ''
    position: absolute
    left: 25px

/* sign-forms*/

.sign-forms
  overflow: hidden
  background: #fbfbfb
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,e9e9e9+100&0+0,1+100*/
  /* FF3.6-15*/
  background: -webkit-radial-gradient(center, ellipse cover, transparent 0%, #e9e9e9 100%)
  /* Chrome10-25,Safari5.1-6*/
  background: -webkit-radial-gradient(center, ellipse, transparent 0%, #e9e9e9 100%)
  background: radial-gradient(ellipse at center, transparent 0%, #e9e9e9 100%)
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+*/
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e9e9e9',GradientType=1 )
  /* IE6-9 fallback on horizontal gradient*/
  min-height: 750px
  border-bottom: 1px solid #c9c9c9
  padding-top: 100px
  .social-login
    text-align: center
    display: block
    margin-bottom: 25px
    h3
      font-size: 24px
      font-weight: 300
      font-family: "HelveticaNeueLT Com 25 UltLt", "Helvetica Neue", Helvetica, Arial, sans-serif
      color: #26bb6b
      line-height: 1.2
      margin-top: 0
      display: inline-block
      position: relative
      &::before, &::after
        content: ''
        top: 52%
        -webkit-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
        transform: translateY(-50%)
        width: 73px
        height: 1px
        background: #26bb6b
        display: block
        position: absolute
      &::before
        left: -80px
      &::after
        right: -85px
    ul
      margin-left: 0
      margin-bottom: 0
      li
        display: inline-block
        padding: 0 4px
        a
          display: block
          opacity: .2
          -webkit-transition: all .3s
          transition: all .3s
          &:hover, &:focus
            opacity: 1
  a.hiddenanchor
    display: none
  #sign-forms
    width: 60%
    right: 0
    min-height: 560px
    max-width: 700px
    margin: 0 auto
    position: relative
    +tablet
      width: 90%
    a
      color: #5f9bc6
      text-decoration: underline
    p
      margin-bottom: 15px
      &:first-child
        margin: 0px
    label
      color: #405c60
      position: relative
  input
    outline: none
  #sign-forms
    input:not([type="checkbox"])
      width: 90%
      margin-top: 4px
      padding: 10px 5px 10px 32px
      -webkit-appearance: textfield
      box-sizing: content-box
      border: 0
      background-color: transparent
      box-shadow: none
      -webkit-transition: all 0.2s linear
      transition: all 0.2s linear
    #login
      display: block
      max-width: 380px
      width: 100%
      margin: 0 160px
      top: 40%
      -webkit-transform: translateY(-50%) !important
      -ms-transform: translateY(-50%) !important
      transform: translateY(-50%) !important
      +desktop
        
        margin: 0 auto

      .form-group
        display: inline-block
        width: 100%
        margin-bottom: 0
        position: relative
        input
          color: #26bb6b
          padding-left: 0
          padding-right: 0
          font-size: 24px
          height: 34px
          padding-right: 10px
        &::after
          content: ''
          display: block
          position: absolute
          background: url("../images/user-icon.png") 0 0 no-repeat
          width: 28px
          height: 28px
          right: 15px
          top: 16px
        + .form-group
          border-top: 1px solid #26bb6b
          &::after
            background-image: url("../images/password-icon.png")
      .change_link.options_link
        text-align: center
        li a
          color: #26bb6b
          font-size: 24px
          text-transform: lowercase
          text-decoration: none
    #register
      width: 100%
      margin: 0
      label
        font-size: 24px
        text-transform: lowercase
        color: #26bb6b
        font-weight: 100
        font-family: "HelveticaNeueLT Com 25 UltLt", "Helvetica Neue", Helvetica, Arial, sans-serif
        margin-bottom: 0
        line-height: 1.4
        padding: 0 15px
      .form-group
        margin-top: 5px
        input
          margin-top: 0
          padding: 6px 5px 5px
          border-bottom: 1px solid #26bb6b
          color: #26bb6b
          height: 20px
          font-size: 15px
          font-weight: 500
        &.repeat-pass input
          margin-top: 34px
      .change_link.options_link
        text-align: center
        li a
          color: #26bb6b
          font-size: 24px
          text-transform: lowercase
          text-decoration: none
    input:not([type="checkbox"])
      &:active, &:focus
        border: 0
        background: transparent
        color: #26bb6b
        box-shadow: none
    .button input
      width: auto
      max-width: 150px
      cursor: pointer
      background: #26bb6b
      padding: 9px 20px 7px
      text-transform: uppercase
      color: #fff
      border: 0
      box-shadow: none
      font-size: 14px
      margin-bottom: 10px
      border-radius: 21px
      -webkit-transition: all 0.2s linear
      transition: all 0.2s linear
      &:hover
        background: #1c884e
      &:active, &:focus
        background: #1c884e
        position: relative
        border: 0
        box-shadow: none !important
  .keeplogin
    margin-top: -5px
    input, label
      display: inline-block
      font-size: 12px
      font-style: italic
    input#loginkeeping
      margin-right: 5px
  p.change_link
    position: absolute
    color: #7f7c7c
    left: 0
    height: 20px
    width: 440px
    padding: 17px 30px 20px 30px
    font-size: 16px
    text-align: right
  #sign-forms p.change_link a
    display: inline-block
    font-weight: bold
    background: #f7f8f1
    padding: 2px 6px
    color: #1da2c1
    margin-left: 10px
    text-decoration: none
    border-radius: 4px
    border: 1px solid #cbd5d6
    -webkit-transition: all 0.4s linear
    transition: all 0.4s  linear
    &:hover
      color: #39bfd7
      background: #f7f7f7
      border: 1px solid #4ab3c6
    &:active
      position: relative
      top: 1px
  #register, #login
    position: absolute
    top: 0
    width: 70%
    margin: 0 15%
  #register
    z-index: 21
    opacity: 0
  #login
    z-index: 22
  #toregister:target ~ #sign-forms #register, #tologin:target ~ #sign-forms #login
    z-index: 22
    -webkit-animation-name: fadeIn
    -ms-animation-name: fadeIn
    animation-name: fadeIn
    -webkit-animation-delay: .1s
    -ms-animation-delay: .1s
    animation-delay: .1s
  #toregister:target ~ #sign-forms #login, #tologin:target ~ #sign-forms #register
    -webkit-animation-name: fadeOut
    -ms-animation-name: fadeOut
    animation-name: fadeOut
  .animate
    -webkit-animation-duration: 0.5s
    -webkit-animation-timing-function: ease
    -webkit-animation-fill-mode: both
    -moz-animation-duration: 0.5s
    -moz-animation-timing-function: ease
    -moz-animation-fill-mode: both
    -o-animation-duration: 0.5s
    -o-animation-timing-function: ease
    -o-animation-fill-mode: both
    -ms-animation-duration: 0.5s
    -ms-animation-timing-function: ease
    -ms-animation-fill-mode: both
    -webkit-animation-duration: 0.5s
    animation-duration: 0.5s
    -webkit-animation-timing-function: ease
    animation-timing-function: ease
    -webkit-animation-fill-mode: both
    animation-fill-mode: both
  .lt8
    #sign-forms
      input
        padding: 10px 5px 10px 32px
        width: 90%
        &[type=checkbox]
          width: 10px
          padding: 0
      h1
        color: #066A75
    #register
      display: none
    p.change_link
      position: absolute
      height: 90px
      background: transparent
  .ie9 p.change_link
    position: absolute
    height: 90px
    background: transparent

/* footer*/

footer#footer
  .footer-title
    font-size: 13px
    text-transform: uppercase
    color: #555
    display: block
    margin-bottom: 20px
    &.title-green
      color: #07a550
  .footer-subtitle
    font-size: 12px
    color: #a3a2a2
    margin-bottom: 20px
    display: block
  .footer-top
    padding: 50px 0 80px
    .f-block
      &.address
        max-width: 230px
        margin: 0 auto
        .footer-logo
          margin-bottom: 18px
          a
            display: block
            text-align: center
            img
              max-width: 215px
              display: inline-block
        address
          margin-left: 40px
          margin-bottom: 18px
        .phone-number
          margin-left: 40px
          a
            color: #333
            text-decoration: none
            -webkit-transition: .3s
            transition: .3s
            span
              display: inline-block
            &:hover, &:focus
              color: #706f6f
      &.quick .quick-nav
        list-style-position: inside
        padding-left: 0
        li a
          color: #a3a2a2
          text-transform: capitalize
          font-size: 13px
          -webkit-transition: .3s
          transition: .3s
          &:hover, &:focus
            color: #333
            text-decoration: none
      &.subscribe .email-form
        width: 100%
        max-width: 385px
        display: block
        border: 1px solid #cccccc
        height: 50px
        border-radius: 25px
        padding: 2px
        overflow: hidden
        position: relative
        input
          &[type="text"]
            border: 0 !important
            box-shadow: none !important
            padding-left: 20px
            outline: none !important
            height: 100%
            line-height: 48px
          &[type="submit"]
            display: block
            float: right
            height: 100%
            line-height: 46px
            border-radius: 24px
            background: #26bb6b
            color: #fff
            font-weight: bold
            font-size: 12px
            text-transform: uppercase
            padding: 0 20px
            text-align: center
            -webkit-transition: .3s
            transition: .3s
            &:hover, &:focus
              background: #1c884e
      &.social .social-list li a
        display: block
        -webkit-transition: .3s
        transition: .3s
        &:hover, &:focus
          opacity: .8

/* footer bot*/

.footer-bot
  background: #f4f4f4
  color: #a3a2a2
  padding: 20px 0 15px
  box-sizing: border-box
  a
    color: #a3a2a2
    &:hover, &:focus
      color: #706f6f
  p
    margin-bottom: 0
    font-size: 12px
    line-height: 24px
    &.copyright
      text-align: left
    &.develop
      text-align: right

@media all and (min-width: 1921px)
  .footer-bot p
    font-size: 15px

@media all and (max-width: 767px)
  .footer-bot p.copyright
    text-align: center

@media all and (max-width: 767px)
  .footer-bot p.develop
    text-align: center

.list-unstyled
  li 
    margin-bottom: 5px
  a 
    font-weight: 500px
    font-family: 'HelveticaNeue-Roman'
    line-height: 24px