@import mixins
@import const
@import sprite

/*----------- Typography *
 ------------------------------------------------------------*/
*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

body
  background-color: #ffffff
  font-family: 'HelveticaNeue-UltraLight', Arial, sans-serif
  font-size: $site-text-size
  line-height: 24px
  color: $site-text-color
  letter-spacing: 0.2px
  margin: 0
  padding: 0
  width: 100%
  +mobile
    font-size: 16px
    line-height: 20px

h1, .title-h1, h2, .title-h2, h3, .title-h3, h4, .title-h4, h5, .title-h5
  display: block
  font-family: 'HelveticaRounded-Bold', Arial, sans-serif
  line-height: 1.1em
  color: $site-title-color
  margin: 0 0 15px

h1, .title-h1
  font-size: $title-h1-size
h2, .title-h2
  font-size: $title-h2-size
h3, .title-h3
  font-size: $title-h3-size
h4, .title-h4
  font-size: $title-h4-size
h5, .title-h5
  font-size: $title-h5-size

h2.page-title, .page-title
  color: #07a550
  font-family: 'HelveticaRounded-Bold', Arial, sans-serif
  line-height: 1.1em
  margin: 0 0 13px
  font-size: 62px
  +mobile
    font-size: 36px
  &--white
    color: #ffffff

.subtitle-page
  font-size: 48px
  display: block
  margin-bottom: 60px
  text-align: center
  line-height: 1.2
  +tablet
    font-size: 40px
    margin-bottom: 40px
  +mobile
    font-size: 36px
    margin-bottom: 30px

.page-subtitle
  display: block
  color: $green
  font-size: 17px
  margin-bottom: 15px
  font-family: 'HelveticaNeue-Bold'

.subtitle 
  font-family: 'HelveticaRounded-Roman', Arial, sans-serif
  margin-bottom: 20px


p
  margin: 0 0 25px
  padding: 0
  letter-spacing: 0
  +mobile 
    margin-bottom: 15px

ul
  padding: 0
  margin: 0 0 25px
  +mobile 
    margin-bottom: 15px

.custom-list
  max-width: 700px
  li 
    padding-left: 34px
    background: url('../images/green-check.png') 0 0 no-repeat
    width: 100%
    height: 100%
    margin-bottom: 1px
    background-repeat: no-repeat

a
  color: $color-link
  text-decoration: none
  &:hover
    text-decoration: underline
    color: darken($color-link, 10%)

img
  vertical-align: middle
  max-width: 100%

.bold
  font-weight: 700

.more
  font-family: 'HelveticaNeue-Bold', sans-serif
  font-size: 14px 
  color: #000000
  position: relative
  padding-right: 22px
  &:before
    position: absolute
    top: 50%
    right: 0
    margin-top: -5.5px
    content: ' '
    width: 8px 
    height: 13px
    background: url('../images/more-arrow.png') 0 0 no-repeat















